workflow/Omnichannel_AI_Scheduler.json
{
  "name": "Omnichannel AI Scheduler - Medical Clinic (GitHub Template)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "omnichannel-webhook",
        "options": {}
      },
      "id": "2208af32-4e45-4a04-b966-9b33b8913530",
      "name": "Webhook Unificado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4064,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconsole.log('=== PAYLOAD RECIBIDO ===');\nconsole.log('input.body:', JSON.stringify(input.body, null, 2));\nconsole.log('input:', JSON.stringify(input, null, 2));\n\n// n8n puede entregar el payload directo o dentro de body\nconst data = input.body || input;\n\nconst value = data.entry?.[0]?.changes?.[0]?.value;\n\n// Ignorar estados de WhatsApp: delivered/read/sent\nif (value?.statuses && !value?.messages) {\n  return [];\n}\n\nlet channel = 'unknown';\nlet from = 'anonymous';\nlet message = '';\nlet userName = '';\n\n// 1. WHATSAPP META\nif (data.entry?.[0]?.changes?.[0]?.value?.messages) {\n  channel = 'whatsapp';\n\n  const value = data.entry[0].changes[0].value;\n  const msg = value.messages[0];\n\n  from = msg.from || '';\n\n  if (msg.type === 'text') {\n    message = msg.text?.body || '';\n  } else if (msg.type === 'interactive') {\n    message =\n      msg.interactive?.button_reply?.title ||\n      msg.interactive?.button_reply?.id ||\n      msg.interactive?.list_reply?.title ||\n      msg.interactive?.list_reply?.id ||\n      '';\n  } else {\n    message = '[Archivo recibido - por favor escribe tu consulta]';\n  }\n\n  userName = value.contacts?.[0]?.profile?.name || 'Paciente WhatsApp';\n}\n\n// 2. INSTAGRAM\nelse if (data.object === 'instagram' && data.entry?.[0]?.messaging) {\n  channel = 'instagram';\n  const msg = data.entry[0].messaging[0];  // ← msg se define aquí\n\n  const BOT_PSID = $env.META_BOT_PSID;\n\n  // 1. Ignorar echo del bot\n  if (msg.message?.is_echo || msg.sender?.id === BOT_PSID) {\n    return [{ json: { channel: 'ignorar', from: '', message: '',\n      conversationId: 'ignorar:echo', userName: '',\n      timestamp: new Date().toISOString() } }];\n  }\n\n  // 2. Ignorar read receipts\n  if (msg.read) {\n    return [{ json: { channel: 'ignorar', from: '', message: '',\n      conversationId: 'ignorar:read', userName: '',\n      timestamp: new Date().toISOString() } }];\n  }\n\n  // 3. Ignorar mensajes vacíos\n  if (!msg.message?.text && !msg.message?.attachments) {\n    return [{ json: { channel: 'ignorar', from: '', message: '',\n      conversationId: 'ignorar:empty', userName: '',\n      timestamp: new Date().toISOString() } }];\n  }\n\n  from = msg.sender?.id || '';\n  message = msg.message?.text || (msg.message?.attachments ? '[Archivo adjunto]' : '');\n  userName = 'Paciente Instagram';\n}\n\n// 3. FACEBOOK\nelse if (data.object === 'page' && data.entry?.[0]?.messaging) {\n  channel = 'facebook';\n  const msg = data.entry[0].messaging[0];\n  const BOT_PAGE_ID = $env.META_BOT_PSID;\n\n  // Ignorar echo del bot\n  if (msg.message?.is_echo || msg.sender?.id === BOT_PAGE_ID) {\n    return [{ json: { channel: 'ignorar', from: '', message: '',\n      conversationId: 'ignorar:echo', userName: '',\n      timestamp: new Date().toISOString() } }];\n  }\n\n  // Ignorar read receipts\n  if (msg.read) {\n    return [{ json: { channel: 'ignorar', from: '', message: '',\n      conversationId: 'ignorar:read', userName: '',\n      timestamp: new Date().toISOString() } }];\n  }\n\n  // Ignorar mensajes vacíos\n  if (!msg.message?.text && !msg.message?.attachments) {\n    return [{ json: { channel: 'ignorar', from: '', message: '',\n      conversationId: 'ignorar:empty', userName: '',\n      timestamp: new Date().toISOString() } }];\n  }\n\n  from = msg.sender?.id || '';\n  message = msg.message?.text || (msg.message?.attachments ? '[Archivo adjunto]' : '');\n  userName = 'Paciente Facebook';\n}\n// 4. TEST / NORMALIZADO\nelse {\n  channel = data.channel || input.channel || 'test';\n  from = data.from || input.from || data.user_id || input.user_id || 'test_user';\n  message = data.message || input.message || data.text || input.text || '';\n  userName = data.user_name || data.userName || input.user_name || input.userName || 'Usuario Test';\n}\n\n// Normalizar\nchannel = String(channel || 'test').toLowerCase().trim();\n\nif (channel === 'whatsapp') {\n  // WhatsApp sí necesita solo números\n  from = String(from || '').replace(/\\D/g, '');\n} else {\n  // En test/instagram/facebook conservar identificador completo\n  from = String(from || 'test_user').trim();\n}\n\nmessage = String(message || '').trim();;\n\nconst conversationId = `${channel}:${from}`;\nconst timestamp = new Date().toISOString();\n\nlet incomingMessageId = '';\n\ntry {\n  if (channel === 'whatsapp') {\n    incomingMessageId =\n      data.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.id || '';\n  }\n\n  if (channel === 'instagram' || channel === 'facebook') {\n    incomingMessageId =\n      data.entry?.[0]?.messaging?.[0]?.message?.mid ||\n      data.entry?.[0]?.messaging?.[0]?.postback?.mid ||\n      '';\n  }\n\n  if (!incomingMessageId) {\n    incomingMessageId = `${channel}:${from}:${message}:${Math.floor(Date.now() / 5000)}`;\n  }\n\n  const staticData = $getWorkflowStaticData('global');\n  staticData.processedMessages = staticData.processedMessages || {};\n\n  if (staticData.processedMessages[incomingMessageId]) {\n    return [];\n  }\n\n  staticData.processedMessages[incomingMessageId] = new Date().toISOString();\n\n  const ids = Object.keys(staticData.processedMessages);\n  if (ids.length > 1000) {\n    for (const id of ids.slice(0, ids.length - 1000)) {\n      delete staticData.processedMessages[id];\n    }\n  }\n} catch (e) {\n  // Si falla el anti-duplicado, no bloqueamos el flujo\n}\n\nif (!message || message.trim() === '') {\n  return [];\n}\n\nreturn [{\n  json: {\n    channel,\n    from,\n    message,\n    conversationId,\n    userName,\n    timestamp,\n    _webhookData: {\n      channel,\n      from,\n      message,\n      conversationId,\n      userName,\n      timestamp,\n      raw: data\n    }\n  }\n}];"
      },
      "id": "41498d00-b27a-440f-b6bd-a172da0acb86",
      "name": "Parsear Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst conversationId = input.conversationId || 'unknown';\nconst now = Date.now();\n\nconst WINDOW_MS = 60000;\nconst MAX = 8;\n\ntry {\n  const staticData = $getWorkflowStaticData('global');\n  staticData.rateLimiter = staticData.rateLimiter || {};\n\n  const key = `rate:${conversationId}`;\n  let d = staticData.rateLimiter[key] || { timestamps: [], blockedUntil: null };\n\n  if (d.blockedUntil && d.blockedUntil > now) {\n    const wait = Math.ceil((d.blockedUntil - now) / 1000);\n    return [{ json: { ...input, rateLimited: true, errorMessage: `Demasiados mensajes. Espera ${wait} segundos.` } }];\n  }\n\n  d.timestamps = (d.timestamps || []).filter(t => now - t < WINDOW_MS);\n\n  if (d.timestamps.length >= MAX) {\n    d.blockedUntil = now + WINDOW_MS;\n    staticData.rateLimiter[key] = d;\n    return [{ json: { ...input, rateLimited: true, errorMessage: 'Demasiados mensajes. Espera 1 minuto.' } }];\n  }\n\n  d.timestamps.push(now);\n  d.blockedUntil = null;\n  staticData.rateLimiter[key] = d;\n\n  const keys = Object.keys(staticData.rateLimiter);\n  if (keys.length > 2000) {\n    for (const oldKey of keys.slice(0, keys.length - 2000)) {\n      delete staticData.rateLimiter[oldKey];\n    }\n  }\n} catch (e) {\n  console.log('Rate limiter staticData no disponible:', e.message);\n}\n\nreturn [{ json: { ...input, rateLimited: false } }];"
      },
      "id": "02d7c1c2-e937-4f37-a1db-f2cb91ac97fd",
      "name": "Rate Limiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3152,
        304
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || \"primary\" }}",
          "mode": "list",
          "cachedResultName": "GOOGLE_CALENDAR_ID"
        },
        "timeMin": "={{ $now.toISO() }}",
        "timeMax": "={{ $now.plus({days: 7}).toISO() }}",
        "options": {}
      },
      "id": "34ba8c85-7ce8-4129-a903-b454f671a2b2",
      "name": "Consultar Disponibilidad Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1088,
        304
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(i => i.json);\n\nconst base =\n  allItems.find(i => i.conversationId || i.context?.conversationId || i._webhookData?.conversationId) ||\n  {};\n\nconst eventos = allItems.filter(i => i.start && i.end && i.id);\n\nconst CONFIG = base.CONFIG || {};\nconst INICIO = CONFIG.horario?.inicio ?? 10;\nconst FIN    = CONFIG.horario?.fin ?? 19;\nconst DUR    = CONFIG.horario?.duracion_cita ?? 60;\nconst LAB    = CONFIG.horario?.dias_laborables ?? [1, 2, 3, 4, 5];\n\nconst ocupados = eventos\n  .map(i => ({\n    id: i.id,\n    ini: new Date(i.start.dateTime || i.start.date),\n    fin: new Date(i.end.dateTime || i.end.date)\n  }))\n  .filter(e => !isNaN(e.ini));\n\nconst TZ = 'Europe/Madrid';\n\nfunction madridDateToUTC(year, month, day, hour, minute = 0) {\n  // Convierte una fecha/hora local de Europe/Madrid a UTC respetando horario de verano/invierno.\n  const utcGuess = new Date(Date.UTC(year, month - 1, day, hour, minute, 0, 0));\n\n  const asMadrid = new Date(utcGuess.toLocaleString('en-US', { timeZone: TZ }));\n  const asUTC = new Date(utcGuess.toLocaleString('en-US', { timeZone: 'UTC' }));\n  const offsetMs = asMadrid.getTime() - asUTC.getTime();\n\n  return new Date(utcGuess.getTime() - offsetMs);\n}\n\nfunction labelMadrid(dateUTC) {\n  return (\n    dateUTC.toLocaleDateString('es-ES', {\n      weekday: 'long',\n      day: 'numeric',\n      month: 'long',\n      timeZone: TZ\n    }) +\n    ' a las ' +\n    dateUTC.toLocaleTimeString('es-ES', {\n      hour: '2-digit',\n      minute: '2-digit',\n      timeZone: TZ\n    })\n  );\n}\n\nconst slots = [];\nconst ahora = new Date();\n\nfor (let d = 0; d < 7; d++) {\n  const baseMadrid = new Date(\n    ahora.toLocaleString('en-US', { timeZone: TZ })\n  );\n\n  baseMadrid.setDate(baseMadrid.getDate() + d);\n\n  const year = baseMadrid.getFullYear();\n  const month = baseMadrid.getMonth() + 1;\n  const day = baseMadrid.getDate();\n\n  const dow = baseMadrid.getDay();\n  if (!LAB.includes(dow)) continue;\n\n  for (let h = INICIO; h < FIN; h++) {\n    const si = madridDateToUTC(year, month, day, h, 0);\n    const sf = new Date(si.getTime() + DUR * 60000);\n\n    if (si <= new Date(Date.now() + 3600000)) continue;\n\n    const libre = !ocupados.some(e => si < e.fin && sf > e.ini);\n\n    if (libre) {\n      slots.push({\n        inicio: si.toISOString(),\n        fin: sf.toISOString(),\n        label: labelMadrid(si)\n      });\n    }\n  }\n}\n\nconst top8 = slots.slice(0, 8);\nconst texto =\n  top8.map((s, i) => `${i + 1}. ${s.label}`).join('\\n') ||\n  'Sin disponibilidad esta semana.';\n\nreturn [{\n  json: {\n    ...base,\n    slotsDisponibles: top8,\n    slotsTexto: texto,\n    totalSlots: slots.length,\n    eventosCalendarOcupados: ocupados.length,\n    debugOcupados: ocupados.map(e => ({\n      id: e.id,\n      ini: e.ini.toISOString(),\n      fin: e.fin.toISOString()\n    }))\n  }\n}];"
      },
      "id": "496dd281-3a85-42bd-94c1-5ca669c50118",
      "name": "Calcular Huecos Libres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3824,
        1056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"Eres Sofia, asistente de clinica estetica. Tu UNICO trabajo es clasificar la intención del mensaje y extraer datos. NO gestionas la conversación, NO decides qué responder al usuario. El Motor de Estado gestiona eso.\\n\\nCANAL: {{$json.channel}}\\nETAPA ACTUAL: {{$json.context.stage}}\\nMENSAJE DEL USUARIO: {{$json.message}}\\n\\nCATALOGO:\\n- Botox facial: 250-400EUR 30min +18\\n- Ácido hialurónico en labios: 350-450EUR 45min +18\\n- Limpieza Facial: 80-120EUR 60min todos\\n- PRP: 400-800EUR 60min sin anticoagulantes\\n- Mesoterapia facial: 200-350EUR 45min +18\\n\\nINSTRUCCIONES:\\n- MUY IMPORTANTE: interpreta SIEMPRE el mensaje según la ETAPA ACTUAL.\\n- Si ETAPA es recopilando_nombre: extrae el nombre si parece un nombre.\\n- Si ETAPA es recopilando_telefono: extrae el teléfono si el mensaje contiene un número.\\n- Si ETAPA es mostrando_slots: si el usuario responde con un número, interpreta que está eligiendo un horario.\\n- Si ETAPA es confirmando_cita: si el usuario responde sí/si/vale/ok/confirmo, interpreta CONFIRMACION_CITA.\\n- Si el usuario quiere cancelar una cita ya existente, clasifica como CANCELAR_CITA.\\n- Si el usuario quiere CAMBIAR/MODIFICAR/REPROGRAMAR una cita existente (\\\"cambiar cita\\\", \\\"modificar cita\\\", \\\"reprogramar\\\", \\\"cambiar de dia\\\", \\\"cambiar de hora\\\", \\\"otro dia\\\", \\\"otro horario\\\") → intencion: CAMBIAR_CITA\\n- Si ETAPA es confirmando_cancelacion: si el usuario responde sí/si/vale/ok/confirmo, interpreta CANCELAR_CITA.\\n- Si ETAPA es inicio o triaje: clasifica la intención y genera respuesta solo si es CONSULTA u OTRO.\\n- NUNCA inventes slots ni listes horarios.\\n- NUNCA pidas nombre ni teléfono.\\n\\nRESPONDE SOLO JSON sin markdown:\\n{\\\"intencion\\\":\\\"CONSULTA|AGENDAR|CANCELAR_CITA|CAMBIAR_CITA|CUALIFICACION|ESCALAR_HUMANO|CONFIRMACION_CITA|OTRO\\\",\\\"respuesta\\\":\\\"\\\",\\\"servicio\\\":null,\\\"slotElegido\\\":null,\\\"datosRecopilados\\\":{\\\"nombre\\\":null,\\\"telefono\\\":null,\\\"edad\\\":null,\\\"condicionMedica\\\":null},\\\"nuevaEtapa\\\":\\\"inicio\\\",\\\"escalarHumano\\\":false,\\\"citaLista\\\":false,\\\"motivoEscalado\\\":null,\\\"confianzaIntencion\\\":0.9}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "4732c1fb-6871-44d8-b268-5eff96514c94",
      "name": "Gemini IA - Cerebro Central",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3632,
        896
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(i => i.json);\nconst merged = Object.assign({}, ...allItems);\n\nconst geminiText = merged.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nlet cat = 'OTRO', resp = '', srv = null, slot = null;\nlet escalar = false, cita = false;\nlet datos = {}, motivoEscalado = null, confianza = 0.5;\n\nconst etapasValidas = [\n  'inicio',\n  'triaje',\n  'recopilando_nombre',\n  'recopilando_telefono',\n  'mostrando_slots',\n  'confirmando_cita',\n  'agendado',\n  'escalar'\n];\n\nfunction pareceNombre(texto) {\n  const t = String(texto || '').trim();\n  const n = t.toLowerCase();\n\n  if (!t) return false;\n  if (/\\d/.test(t)) return false;\n  if (t.length < 3) return false;\n\n  const frasesNoNombre = [\n    'hola',\n    'buenas',\n    'buenos dias',\n    'buenos días',\n    'buenas tardes',\n    'buenas noches',\n    'quiero',\n    'quisiera',\n    'me gustaría',\n    'me gustaria',\n    'necesito',\n    'me interesa',\n    'información',\n    'informacion',\n    'precio',\n    'cuánto',\n    'cuanto',\n    'consulta',\n    'cita',\n    'agendar',\n    'reservar',\n    'tratamiento',\n    'servicio',\n    'disponibilidad',\n    'horario',\n    'duda',\n    'pregunta'\n  ];\n\n  return !frasesNoNombre.some(p => n.includes(p));\n}\n\nfunction normalizarTelefonoES(texto) {\n  let t = String(texto || '').replace(/\\D/g, '');\n\n  if (t.startsWith('0034')) t = t.slice(4);\n  if (t.startsWith('34') && t.length === 11) t = t.slice(2);\n\n  if (/^[6-7]\\d{8}$/.test(t)) {\n    return '34' + t;\n  }\n\n  return null;\n}\n\ntry {\n  let text = geminiText\n    .replace(/```json\\s*/gi, '')\n    .replace(/```\\s*/gi, '')\n    .trim();\n\n  if (!text.startsWith('{')) {\n    const match = geminiText.match(/\\{[\\s\\S]*\\}/);\n    text = match ? match[0] : '{}';\n  }\n\n  const p = JSON.parse(text);\n\n  cat             = p.intencion || 'OTRO';\n  resp            = p.respuesta || '';\n  srv             = (p.servicio && p.servicio !== 'null') ? p.servicio : null;\n  slot            = (p.slotElegido && p.slotElegido !== 'null') ? p.slotElegido : null;\n  escalar         = p.escalarHumano === true;\n  cita            = p.citaLista === true;\n  datos           = p.datosRecopilados || {};\n  motivoEscalado  = (p.motivoEscalado && p.motivoEscalado !== 'null') ? p.motivoEscalado : null;\n  confianza       = p.confianzaIntencion || 0.5;\n\n} catch (e) {\n  resp = 'Hola! Soy Sofia. ¿En qué puedo ayudarte?';\n  cat = 'OTRO';\n}\n\nconst validas = [\n  'CONSULTA',\n  'AGENDAR',\n  'CANCELAR_CITA',\n  'CAMBIAR_CITA',\n  'CUALIFICACION',\n  'ESCALAR_HUMANO',\n  'CONFIRMACION_CITA',\n  'DESPEDIDA',\n  'OTRO'\n];\n\nif (!validas.includes(cat)) cat = 'OTRO';\nif (cat === 'ESCALAR_HUMANO') escalar = true;\n\n// Actualizar solo metadata del contexto - NO actualizar stage, lo hace el Motor\nconst ctx = merged.context || {};\nctx.metadata = ctx.metadata || {};\n\nconst stageActual = ctx.stage || 'inicio';\n\n// Nombre: SOLO guardar si estamos realmente pidiendo el nombre\nif (\n  stageActual === 'recopilando_nombre' &&\n  datos.nombre &&\n  datos.nombre !== 'null' &&\n  pareceNombre(datos.nombre)\n) {\n  ctx.metadata.nombre = String(datos.nombre).trim();\n}\n\n// Teléfono: normalizar antes de guardar\nif (datos.telefono && datos.telefono !== 'null') {\n  const telefonoNormalizado = normalizarTelefonoES(datos.telefono);\n\n  if (telefonoNormalizado) {\n    ctx.metadata.telefono = telefonoNormalizado;\n  }\n}\n\n// Edad: se puede guardar si Gemini la detecta, pero sin tocar stage\nif (datos.edad && datos.edad !== 'null') {\n  ctx.metadata.edad = datos.edad;\n}\n\n// Condición médica\nif (datos.condicionMedica && datos.condicionMedica !== 'null') {\n  ctx.metadata.condiciones = ctx.metadata.condiciones || [];\n\n  if (!ctx.metadata.condiciones.includes(datos.condicionMedica)) {\n    ctx.metadata.condiciones.push(datos.condicionMedica);\n  }\n}\n\nif (motivoEscalado || escalar === true || cat === 'ESCALAR_HUMANO') {\n  ctx.metadata.motivoEscalado = motivoEscalado || 'Escalado a humano';\n\n  ctx.metadata.human_takeover = true;\n  ctx.metadata.human_takeover_reason =\n    motivoEscalado || 'Escalado a humano';\n\n  ctx.metadata.human_takeover_at =\n    new Date().toISOString();\n}\n\n// Tratamiento de interés\nif (srv) {\n  ctx.metadata.tratamientos_interes = ctx.metadata.tratamientos_interes || [];\n\n  if (!ctx.metadata.tratamientos_interes.includes(srv)) {\n    ctx.metadata.tratamientos_interes.push(srv);\n  }\n}\n\nctx.intencion = cat;\n// NO tocar ctx.stage aquí - el Motor de Estado lo gestiona\n\nreturn [{\n  json: {\n    ...merged,\n    context: ctx,\n    categoriaIA: cat,\n    respuestaIA: resp,\n    servicio: srv,\n    slotElegido: slot,\n    escalarHumano: escalar,\n    citaLista: cita,\n    datosRecopilados: datos,\n    motivoEscalado,\n    confianzaIntencion: confianza\n  }\n}];"
      },
      "id": "1ae0ff8e-9c5a-4ad1-b46a-5a6c51d78d5d",
      "name": "Procesar IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3280,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// PREPARAR CITA - Usa slot elegido por el Motor de Estado\nconst input = $input.first().json;\nconst meta = input.context?.metadata || {};\n\n// El Motor de Estado ya calculó el slot exacto\nconst slotData = input.slotElegidoMotor || meta.slotPropuesto;\n\nlet slotIni, slotFin;\nif (slotData && slotData.inicio) {\n  slotIni = new Date(slotData.inicio);\n  slotFin = new Date(slotData.fin || slotIni.getTime() + 3600000);\n} else if (input.slotElegido && input.slotElegido !== 'null') {\n  slotIni = new Date(input.slotElegido);\n  slotFin = new Date(slotIni.getTime() + 3600000);\n} else {\n  // Fallback: primer slot disponible\n  const slots = input.slotsDisponibles || [];\n  if (slots.length > 0) {\n    slotIni = new Date(slots[0].inicio);\n    slotFin = new Date(slots[0].fin);\n  } else {\n    slotIni = new Date();\n    slotIni.setDate(slotIni.getDate() + 2);\n    slotIni.setHours(10, 0, 0, 0);\n    slotFin = new Date(slotIni.getTime() + 3600000);\n  }\n}\n\nconst servicio = input.servicio || meta.tratamientos_interes?.[0] || 'Consulta General';\nconst nombre = meta.nombre || input.userName || 'Paciente';\nconst telefono = meta.telefono || input.from;\n\nreturn [{\n  json: {\n    ...input,\n    slotInicio: slotIni.toISOString(),\n    slotFin: slotFin.toISOString(),\n    servicioFinal: servicio,\n    nombrePaciente: nombre,\n    telefonoPaciente: telefono,\n    calendarEvent: {\n      summary: `${servicio} - ${nombre}`,\n      description: `Paciente: ${nombre}\\nCanal: ${input.channel}\\nTelefono: ${telefono}\\nTratamiento: ${servicio}\\nConversacion: ${input.conversationId}`\n    }\n  }\n}];\n"
      },
      "id": "866e08f1-f3ce-4cae-934e-5ec46279b7e7",
      "name": "Detectar y Preparar Cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2480,
        944
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || \"primary\" }}",
          "mode": "list",
          "cachedResultName": "GOOGLE_CALENDAR_ID"
        },
        "start": "={{ $json.slotInicio }}",
        "end": "={{ $json.slotFin }}",
        "additionalFields": {
          "description": "={{ $json.calendarEvent.description }}",
          "summary": "={{ $json.calendarEvent.summary }}"
        }
      },
      "id": "2531be85-de43-4f5a-a500-9f5b46e912bd",
      "name": "Crear Evento Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1328,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const cita = $('Detectar y Preparar Cita').first().json;\n\nlet ev = {};\n\ntry {\n  ev = $('Actualizar Evento Calendar').first().json;\n} catch (e) {\n  try {\n    ev = $('Crear Evento Calendar').first().json;\n  } catch (e2) {\n    ev = {};\n  }\n}\n\nconst config = cita.CONFIG || cita.config || {};\nconst meta = cita.context?.metadata || {};\n\nconst direccion = config?.clinica?.direccion || 'TU_DIRECCION_CLINICA';\nconst nombreClinica = config?.clinica?.nombre || 'Clínica';\n\nconst nombre = cita.nombrePaciente || meta.nombre || cita.userName || 'Paciente';\nconst telefono = cita.telefonoPaciente || meta.telefono || cita.telefonoBusqueda || cita.from || '';\nconst servicio = cita.servicioFinal || cita.servicio || meta.tratamientos_interes?.[0] || 'Consulta';\n\nconst slotInicio = cita.slotInicio || ev.start?.dateTime || ev.start?.date || '';\nconst slotFin = cita.slotFin || ev.end?.dateTime || ev.end?.date || '';\n\nconst start = slotInicio ? new Date(slotInicio) : new Date();\n\nconst TZ = 'Europe/Madrid';\n\nconst fecha = start.toLocaleDateString('es-ES', {\n  weekday: 'long',\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric',\n  timeZone: TZ\n});\n\nconst hora = start.toLocaleTimeString('es-ES', {\n  hour: '2-digit',\n  minute: '2-digit',\n  timeZone: TZ\n});\n\nconst calendarEventId = ev.id || ev.calendarEventId || '';\nconst calendarHtmlLink = ev.htmlLink || '';\n\nconst msg = `✅ Cita confirmada ${nombre}!\n\n📅 ${fecha}\n🕒 ${hora}\n💉 Tratamiento: ${servicio}\n📍 ${direccion}\n\nTe avisaremos 24h antes. Si necesitas cancelar, avisa con al menos 24h de antelación.\n\n¡Te esperamos en ${nombreClinica}!`;\n\nreturn [\n  {\n    json: {\n      ...cita,\n\n      channel: cita.channel || cita.context?.channel || 'whatsapp',\n      from: cita.from || '',\n      conversationId: cita.conversationId || cita.context?.conversationId || '',\n      userName: cita.userName || cita.context?.userName || 'Paciente',\n\n      message: msg,\n      respuestaIA: msg,\n      categoriaIA: 'CONFIRMACION_CITA',\n\n      citaConfirmada: true,\n      citaLista: true,\n\n      calendarEventId,\n      calendarHtmlLink,\n\n      slotInicio,\n      slotFin,\n\n      nombrePaciente: nombre,\n      telefonoPaciente: telefono,\n      servicioFinal: servicio,\n\n      tipoEvento: 'CITA_CONFIRMADA',\n\n      context: {\n        ...(cita.context || {}),\n        stage: 'agendado',\n        metadata: {\n          ...(meta || {}),\n          nombre,\n          telefono,\n          slotPropuesto: meta.slotPropuesto || cita.slotElegidoMotor || null,\n          tratamientoConfirmado: servicio,\n          calendarEventId,\n          citaConfirmada: true,\n          confirmacionEnProceso: false,\n          confirmacionEnProcesoAt: null\n        }\n      },\n\n      crmEvento: {\n        event_id: `EVT-${Date.now()}`,\n        patient_id: cita.patientId || cita.context?.patientId || '',\n        paciente_nombre: nombre,\n        paciente_telefono: telefono,\n        tipo_evento: 'CITA_CONFIRMADA',\n        prioridad: 'MEDIA',\n        etapa_actual: 'agendado',\n        mensaje_paciente:\n  cita._webhookData?.message ||\n  cita.context?.history?.filter(h => h.role === 'user').slice(-1)[0]?.content ||\n  '',\n        respuesta_bot: msg,\n        servicio,\n        cita_fecha: slotInicio,\n        calendar_event_id: calendarEventId,\n        requiere_atencion: 'false',\n        operador_asignado: '',\n        resuelto: 'FALSE',\n        notas_staff: '',\n        timestamp: new Date().toISOString()\n      },\n\n      slackPayload: {\n        text: `[CITA OK] CITA CONFIRMADA\\nPaciente: ${nombre}\\nTratamiento: ${servicio}\\nFecha: ${slotInicio || 'pendiente'}\\nCanal: ${cita.channel || ''}`,\n        blocks: [\n          {\n            type: 'section',\n            text: {\n              type: 'mrkdwn',\n              text: `*[CITA OK]* CITA CONFIRMADA\\nPaciente: ${nombre}\\nTratamiento: ${servicio}\\nFecha: ${slotInicio || 'pendiente'}\\nCanal: ${cita.channel || ''}`\n            }\n          }\n        ]\n      },\n\n      enviarSlack: true,\n      enviarEmail: true,\n\n      timestamp: new Date().toISOString()\n    }\n  }\n];"
      },
      "id": "7bafbda1-7161-4d20-a0f1-fb2e1399577a",
      "name": "Confirmar Cita",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ctx = input.context || {};\nconst meta = ctx.metadata || {};\n\nconst nombre =\n  meta.nombre ||\n  input.nombrePaciente ||\n  input.userName ||\n  'Paciente';\n\nconst telefono =\n  meta.telefono ||\n  input.telefonoBusqueda ||\n  (input.channel === 'whatsapp'\n    ? input.from\n    : null) ||\n  'Sin teléfono';\n\nconst motivo =\n  meta.motivoEscalado ||\n  input.motivoEscalado ||\n  'Valoración personalizada';\n\nconst servicio =\n  input.servicio ||\n  input.last_servicio ||\n  meta.tratamientos_interes?.[0] ||\n  '';\n\nconst msg = `Gracias por contactarnos.\n\nVoy a derivar la consulta a un miembro del equipo para que pueda ayudarte personalmente.\n\nEn breve se pondrán en contacto contigo.\n\nReferencia: ${input.conversationId}`;\n\nreturn [{\n  json: {\n    ...input,\n\n    message: msg,\n    respuestaIA: msg,\n\n    categoriaIA: 'ESCALAR_HUMANO',\n    requiereAtencionHumana: true,\n\n    noEnviarRespuesta: false,\n\n    tipoEvento: 'ESCALADO',\n\n    crmEvento: {\n      event_id: `EVT-${Date.now()}`,\n      patient_id: input.patientId || ctx.patientId || '',\n      paciente_nombre: nombre,\n      paciente_telefono: telefono,\n      tipo_evento: 'ESCALADO',\n      prioridad: 'ALTA',\n      etapa_actual: 'escalar',\n      mensaje_paciente: input._webhookData?.message || input.message || '',\n      respuesta_bot: msg,\n      servicio,\n      cita_fecha: '',\n      calendar_event_id: '',\n      requiere_atencion: 'true',\n      operador_asignado: '',\n      resuelto: 'FALSE',\n      notas_staff: motivo,\n      timestamp: new Date().toISOString()\n    },\n\n    alertaCRM: {\n      tipo: 'ESCALADO',\n      conversationId: input.conversationId,\n      canal: input.channel,\n      paciente: nombre,\n      contacto: telefono,\n      servicio,\n      motivo,\n      historial: (ctx.history || []).slice(-6),\n      timestamp: new Date().toISOString()\n    }\n  }\n}];;"
      },
      "id": "15989b9b-e952-4c49-b533-bf3d63c688db",
      "name": "Escalar a Humano",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        1216
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Actualizar el stage en el context con el nuevaEtapa calculado por el Motor\nconst context = input.context || {};\nif (input.nuevaEtapa) {\n  context.stage = input.nuevaEtapa;\n}\n\nreturn [{ json: { \n  ...input, \n  context,\n  message: input.respuestaIA || input.message \n} }];"
      },
      "id": "7c3e6c38-539a-4dad-9e34-38388af272e8",
      "name": "Respuesta IA Directa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(i => i.json);\n\n// Priorizar siempre el item más completo y actualizado\nconst input =\n  allItems.find(i =>\n    i.context?.metadata?.confirmacionEnProceso === true\n  ) ||\n  allItems.find(i =>\n    i.citaConfirmada === true &&\n    i.calendarEventId\n  ) ||\n  allItems.find(i =>\n    i.accionMotor === 'AGENDAR'\n  ) ||\n  allItems.find(i =>\n    i.nuevaEtapa\n  ) ||\n  allItems[allItems.length - 1];\n\nconst ctx = input.context || {};\n\nctx.stage = input.nuevaEtapa || ctx.stage || 'inicio';\nctx.metadata = ctx.metadata || {};\n\nlet message = input.respuestaIA || input.message || 'Hola! Soy Sofia. ¿En qué puedo ayudarte?';\n\nif (!Array.isArray(ctx.history)) {\n  ctx.history = [];\n}\n\nif (message && !message.startsWith('__')) {\n  ctx.history.push({\n    role: 'assistant',\n    content: message,\n    timestamp: new Date().toISOString()\n  });\n}\n\nif (ctx.history.length > 20) {\n  ctx.history = ctx.history.slice(-20);\n}\n\nctx.messageCount = (ctx.messageCount || 0) + 1;\n\nreturn [{\n  json: {\n    ...input,\n    message,\n    respuestaIA: message,\n    conversationId: input.conversationId || ctx.conversationId,\n    from: input.from || ctx.from,\n    channel: input.channel || ctx.channel,\n    userName: input.userName || ctx.userName,\n    context: ctx,\n    categoriaIA: input.categoriaIA,\n    servicio: input.servicio,\n    citaConfirmada: input.citaConfirmada || ctx.metadata.citaConfirmada || false,\n    escalarHumano: input.escalarHumano || false,\n    calendarEventId: input.calendarEventId || ctx.metadata.calendarEventId || null,\n    lead_score: input.lead_score || 0,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "91895b36-7efe-4fd3-a6df-5557ced078fb",
      "name": "Preparar Respuesta Final",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// PREPARAR MENSAJE WHATSAPP BUSINESS API\nconst input = $input.first().json;\n\n// 1. Buscar el texto real de respuesta\nlet history = input.history;\n\nif (typeof history === 'string') {\n  try {\n    history = JSON.parse(history);\n  } catch (e) {\n    history = [];\n  }\n}\n\nconst lastAssistant = Array.isArray(history)\n  ? [...history].reverse().find(h => h.role === 'assistant')\n  : null;\n\nconst mensajeTexto = (\n  input.message ||\n  input.respuestaIA ||\n  input.whatsappText ||\n  lastAssistant?.content ||\n  ''\n).trim();\n\n// 2. Número dinámico del paciente\nconst telefono = String(\n  input.from ||\n  input.telefono ||\n  input.paciente_telefono ||\n  ''\n).replace(/\\D/g, '');\n\nif (!telefono.startsWith('34')) {\n  throw new Error('Telefono WhatsApp invalido: ' + telefono);\n}\n\n// 3. Dividir mensajes largos\nconst MAX_CHARS = 4000;\nconst mensajes = [];\n\nif (mensajeTexto.length > MAX_CHARS) {\n  const partes = mensajeTexto.split('\\n\\n');\n  let actual = '';\n\n  for (const parte of partes) {\n    if ((actual + parte).length > MAX_CHARS) {\n      if (actual) mensajes.push(actual.trim());\n      actual = parte;\n    } else {\n      actual += (actual ? '\\n\\n' : '') + parte;\n    }\n  }\n\n  if (actual) mensajes.push(actual.trim());\n} else {\n  mensajes.push(mensajeTexto);\n}\n\nreturn [{\n  json: {\n    ...input,\n    whatsappTo: telefono,\n    whatsappText: mensajes[0] || '',\n    whatsappPayloadPrimario: {\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: telefono,\n      type: \"text\",\n      text: {\n        preview_url: false,\n        body: mensajes[0] || ''\n      }\n    },\n    whatsappPayloads: mensajes.map(msg => ({\n      messaging_product: \"whatsapp\",\n      recipient_type: \"individual\",\n      to: telefono,\n      type: \"text\",\n      text: {\n        preview_url: false,\n        body: msg\n      }\n    })),\n    totalMensajes: mensajes.length\n  }\n}];"
      },
      "id": "f7690c92-ae94-41eb-9bab-f0103cdc95e1",
      "name": "Preparar Mensaje WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        912
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.META_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.whatsappPayloadPrimario }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "353bc9fe-074e-4ac4-a0d7-333a40054181",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        912
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst mensaje = (input.message || '').trim();\n\nconst MAX_CHARS = 1000;\nlet mensajeFinal = mensaje;\n\nif (mensaje.length > MAX_CHARS) {\n  mensajeFinal = mensaje.substring(0, MAX_CHARS - 3) + '...';\n}\n\nreturn [{\n  json: {\n    ...input,\n    instagramPayload: {\n      recipient: {\n        id: input.from\n      },\n      message: {\n        text: mensajeFinal\n      },\n      messaging_type: \"RESPONSE\"\n    }\n  }\n}];\n"
      },
      "id": "ad5478f3-973e-4903-899b-c222b93d9535",
      "name": "Preparar Mensaje Instagram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.META_IG_PAGE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.META_PAGE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.instagramPayload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "87998257-26ef-4e91-a188-548c0a567064",
      "name": "Enviar Instagram DM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        1072
      ]
    },
    {
      "parameters": {
        "jsCode": "// PREPARAR MENSAJE FACEBOOK MESSENGER SEND API\nconst input = $input.first().json;\n\nconst mensaje = (input.message || '').trim();\n\n// FB Messenger límite 2000 chars\nconst MAX_CHARS = 2000;\nlet mensajeFinal = mensaje;\nif (mensaje.length > MAX_CHARS) {\n  mensajeFinal = mensaje.substring(0, MAX_CHARS - 3) + '...';\n}\n\nreturn [{\n  json: {\n    ...input,\n    facebookPayload: {\n      recipient: {\n        id: input.from  // Facebook PSID del usuario\n      },\n      message: {\n        text: mensajeFinal\n      },\n      messaging_type: \"RESPONSE\"\n    }\n  }\n}];\n"
      },
      "id": "89eda11c-ace8-418d-8a0a-205244f432cc",
      "name": "Preparar Mensaje Facebook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        1232
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $env.META_FB_PAGE_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.META_PAGE_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.facebookPayload }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "9c63bde5-1e2c-4196-b981-6c8e52516be8",
      "name": "Enviar Facebook Messenger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        1232
      ]
    },
    {
      "parameters": {
        "jsCode": "// CANAL TEST - Solo para pruebas locales, no envía nada\nconst input = $input.first().json;\nconsole.log('=== RESPUESTA TEST ===');\nconsole.log('Canal:', input.channel);\nconsole.log('Para:', input.from);\nconsole.log('Mensaje:', input.message);\nconsole.log('CategoriaIA:', input.categoriaIA);\nreturn [{ json: { ...input, testMode: true, enviado: false } }];\n"
      },
      "id": "f49c9f57-1cea-4acc-856f-6dbe8537a73f",
      "name": "Canal Test (Solo Log)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        1552
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst context = input.context || {};\n\nif (typeof context.metadata === 'string') {\n  try {\n    context.metadata = JSON.parse(context.metadata);\n  } catch (e) {\n    context.metadata = {};\n  }\n}\n\nconst metadata = context.metadata || {};\n\nfunction limpiarNombreContaminado(nombre) {\n  const n = String(nombre || '').toLowerCase();\n  const frasesNoNombre = [\n    'hola', 'quiero', 'quisiera', 'cita', 'consulta', 'botox',\n    'labios', 'tratamiento', 'precio', 'informacion', 'información',\n    'me interesa'\n  ];\n  if (!nombre) return null;\n  if (frasesNoNombre.some(p => n.includes(p))) return null;\n  return nombre;\n}\n\nmetadata.nombre = limpiarNombreContaminado(metadata.nombre);\nconst stage = context.stage || 'inicio';\nconst mensaje = (input.message || '').trim();\nconst mensajeLower = mensaje.toLowerCase();\n\nif (mensajeLower === 'reset') {\n  const cleanContext = {\n    conversationId: input.conversationId,\n    patientId: input.context?.patientId || '',\n    channel: input.channel,\n    from: input.from,\n        userName: input.userName,\n        stage: 'inicio',\n        messageCount: 0,\n        history: [],\n        metadata: {\n          tratamientos_interes: [],\n          edad: null,\n          condiciones: [],\n          nombre: null,\n          telefono: null,\n          aptitudVerificada: false,\n          slotPropuesto: null,\n          slotsDisponiblesFiltrados: [],\n          human_takeover: false,\n          human_takeover_at: null,\n          human_takeover_reason: null,\n          motivoEscalado: null\n        },\n        lastActivity: new Date().toISOString()\n      }\n      \n  const staticData = $getWorkflowStaticData('global');\n  const cacheKey = `ctx_v4:${input.conversationId}`;\n  staticData[cacheKey] = cleanContext;\n\n  return [{\n    json: {\n      ...input,\n      context: cleanContext,\n      respuestaIA: 'Contexto reiniciado ✅ ¿En qué puedo ayudarte?',\n      message: 'Contexto reiniciado ✅ ¿En qué puedo ayudarte?',\n      accionMotor: 'RESPONDER',\n      nuevaEtapa: 'inicio',\n      datosActualizados: true\n    }\n  }];\n}\n\nconst slotsFiltrados = metadata.slotsDisponiblesFiltrados;\nconst slots =\n  Array.isArray(slotsFiltrados) && slotsFiltrados.length > 0\n    ? slotsFiltrados\n    : (input.slotsDisponibles || []);\n\nconst categoriaIA = input.categoriaIA || 'OTRO';\n\nfunction normalizar(str) {\n  return (str || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n}\n\nfunction normalizarTelefonoES(texto) {\n  let t = String(texto || '').replace(/\\D/g, '');\n  if (t.startsWith('0034')) t = t.slice(4);\n  if (t.startsWith('34') && t.length === 11) t = t.slice(2);\n  if (/^[6-7]\\d{8}$/.test(t)) return '34' + t;\n  return null;\n}\n\nfunction esTelefono(str) {\n  return !!normalizarTelefonoES(str);\n}\n\nfunction pareceNombre(texto) {\n  const t = String(texto || '').trim();\n  const n = normalizar(t);\n  if (!t) return false;\n  if (/\\d/.test(t)) return false;\n  if (t.length < 3) return false;\n  if (t.length > 60) return false;\n  const frasesNoNombre = [\n    'hola', 'buenas', 'buenos dias', 'buenas tardes', 'buenas noches',\n    'quiero', 'quisiera', 'me gustaria', 'necesito', 'me interesa',\n    'informacion', 'precio', 'cuanto', 'consulta', 'cita', 'agendar',\n    'reservar', 'tratamiento', 'servicio', 'disponibilidad', 'horario',\n    'duda', 'pregunta', 'presupuesto', 'valoracion', 'clinica'\n  ];\n  if (frasesNoNombre.some(p => n.includes(p))) return false;\n  const palabras = t.split(/\\s+/).filter(p => p.length > 1);\n  return palabras.length >= 1 && palabras.length <= 5;\n}\n\nfunction nombreValidoGuardado(nombre) {\n  return pareceNombre(nombre);\n}\n\nfunction formatearSlots(slots) {\n  return (slots || [])\n    .slice(0, 6)\n    .map((s, i) => `${i + 1}. ${s.label}`)\n    .join('\\n');\n}\n\nfunction esDespedida(texto) {\n  const t = normalizar(texto);\n  return [\n    'adios', 'hasta luego', 'bye', 'no gracias', 'no quiero',\n    'nada mas', 'dejalo', 'dejalo estar', 'no me interesa',\n    'gracias adios', 'no quiero nada', 'no necesito nada',\n    'hasta pronto', 'me voy', 'no hace falta', 'no pasa nada',\n    'muchas gracias', 'gracias', 'perfecto gracias',\n    'ok gracias', 'genial gracias', 'de acuerdo gracias',\n    'vale gracias', 'vale', 'bien', 'ok gracias',\n    'thank you', 'thanks'\n  ].some(p => t.includes(normalizar(p)));\n}\n\nconst CONFIRMAR = ['si', 'sí', 'confirmo', 'perfecto', 'ok', 'vale', 'correcto', 'adelante', 'confirmar', 'yes'];\nconst CANCELAR = ['no', 'cancelar', 'cancel', 'otro', 'cambiar', 'diferente'];\n\nlet respuesta = '';\nlet nuevaEtapa = stage;\nlet accion = 'RESPONDER';\nlet slotElegido = null;\nlet citaLista = false;\nlet datosActualizados = false;\n\nconst mensajeNormGlobal = normalizar(mensaje);\n\nconst quiereHumanoGlobal =\n  categoriaIA === 'ESCALAR_HUMANO' ||\n  mensajeNormGlobal.includes('hablar con alguien') ||\n  mensajeNormGlobal.includes('hablar con una persona') ||\n  mensajeNormGlobal.includes('hablar con humano') ||\n  mensajeNormGlobal.includes('hablar con un humano') ||\n  mensajeNormGlobal.includes('quiero hablar con alguien') ||\n  mensajeNormGlobal.includes('quiero hablar con una persona') ||\n  mensajeNormGlobal.includes('quiero hablar con un humano') ||\n  mensajeNormGlobal.includes('atencion al cliente') ||\n  mensajeNormGlobal.includes('atencion humana') ||\n  mensajeNormGlobal.includes('operador') ||\n  mensajeNormGlobal.includes('agente') ||\n  mensajeNormGlobal.includes('persona real');\n\nif (\n  quiereHumanoGlobal &&\n  stage !== 'agendado' &&\n  stage !== 'escalar'\n) {\n  context.stage = 'escalar';\n\n  return [{\n    json: {\n      ...input,\n      context,\n      respuestaIA: `Por supuesto, ${metadata.nombre || ''}. He avisado al equipo de atención al cliente. Una persona te contactará lo antes posible. 🙏`,\n      message: `Por supuesto, ${metadata.nombre || ''}. He avisado al equipo de atención al cliente. Una persona te contactará lo antes posible. 🙏`,\n      accionMotor: 'ESCALAR',\n      slotElegidoMotor: null,\n      citaLista: false,\n      categoriaIA: 'ESCALAR_HUMANO',\n      escalarHumano: true,\n      nuevaEtapa: 'escalar',\n      datosActualizados: true\n    }\n  }];\n}\n\nswitch (stage) {\n  case 'inicio': {\n    if (categoriaIA === 'AGENDAR') {\n      if (!metadata.aptitudVerificada) {\n        nuevaEtapa = 'triaje';\n        respuesta = `Perfecto! Me alegra que estés interesado/a en nuestros tratamientos 😊\\n\\nAntes de agendar tu cita, necesito hacerte unas preguntas rápidas para asegurarme de que el tratamiento es el adecuado para ti.\\n\\n¿Cuál es tu edad aproximada?`;\n\n      } else if (!nombreValidoGuardado(metadata.nombre)) {\n        nuevaEtapa = 'recopilando_nombre';\n        respuesta = `Genial! Para agendar tu cita necesito algunos datos.\\n\\n¿Cuál es tu nombre completo?`;\n\n      } else if (!normalizarTelefonoES(metadata.telefono)) {\n        nuevaEtapa = 'recopilando_telefono';\n        respuesta = `Hola ${metadata.nombre}! 👋\\n\\n¿Cuál es tu número de teléfono de contacto?`;\n\n      } else {\n        nuevaEtapa = 'mostrando_slots';\n        if (slots.length > 0) {\n          respuesta = `Hola ${metadata.nombre}! Estas son las citas disponibles:\\n\\n${formatearSlots(slots)}\\n\\n¿Cuál prefieres? Responde con el número.`;\n        } else {\n          respuesta = `Lo siento, en este momento no tenemos disponibilidad esta semana. Te contactaremos para encontrar un hueco.`;\n          accion = 'ESCALAR';\n        }\n      }\n\n    } else if (categoriaIA === 'ESCALAR_HUMANO') {\n      nuevaEtapa = 'escalar';\n      accion = 'ESCALAR';\n      respuesta = input.respuestaIA || 'Un especialista te atenderá en breve.';\n\n    } else {\n      respuesta = input.respuestaIA || 'Hola! Soy Sofia, tu asistente. ¿En qué puedo ayudarte?';\n    }\n\n    break;\n  }\n\n  case 'triaje': {\n    const edadMatch = mensajeLower.match(/\\b(\\d{1,2})\\b/);\n    const edadNum = edadMatch ? parseInt(edadMatch[1]) : null;\n\n    const condicionesExclusion = [\n      'embarazada', 'embarazo', 'gestante', 'lactancia',\n      'anticoagulante', 'warfarina', 'sintrom', 'alergia anestesia'\n    ];\n    const tieneExclusion = condicionesExclusion.some(c => mensajeLower.includes(c));\n\n    if (tieneExclusion) {\n      nuevaEtapa = 'escalar';\n      accion = 'ESCALAR';\n      respuesta = `Gracias por la información. Por tu seguridad, este tratamiento requiere valoración médica personalizada.\\n\\nUn especialista de nuestro equipo se pondrá en contacto contigo para asesorarte correctamente. 🙏`;\n      metadata.aptitudVerificada = false;\n      metadata.motivoEscalado = 'condicion_medica';\n\n    } else if (edadNum !== null && edadNum < 18) {\n      nuevaEtapa = 'inicio';\n      accion = 'RESPONDER';\n      respuesta = `Gracias por contactarnos. Nuestros tratamientos están disponibles para mayores de 18 años.\\n\\nSi tienes alguna consulta adicional, no dudes en escribirnos.`;\n      metadata.aptitudVerificada = false;\n      metadata.motivoEscalado = 'menor_edad';\n\n    } else {\n      if (edadNum !== null) metadata.edad = edadNum;\n      metadata.aptitudVerificada = true;\n\n      const nombreYaExiste = nombreValidoGuardado(metadata.nombre);\n      const telefonoNormalizado = normalizarTelefonoES(metadata.telefono);\n      const telefonoYaExiste = !!telefonoNormalizado;\n\n      if (telefonoNormalizado) metadata.telefono = telefonoNormalizado;\n\n      if (!nombreYaExiste) {\n        nuevaEtapa = 'recopilando_nombre';\n        respuesta = `Perfecto, gracias! ✅\\n\\n¿Cuál es tu nombre completo para la reserva?`;\n\n      } else if (!telefonoYaExiste) {\n        nuevaEtapa = 'recopilando_telefono';\n        respuesta = `Perfecto, gracias ${metadata.nombre}! ✅\\n\\n¿Cuál es tu número de teléfono de contacto?`;\n\n      } else {\n        nuevaEtapa = 'mostrando_slots';\n        if (slots.length > 0) {\n          respuesta = `Perfecto, gracias ${metadata.nombre}! ✅\\n\\nEstas son las citas disponibles próximamente:\\n\\n${formatearSlots(slots)}\\n\\n¿Cuál te viene mejor? Responde con el número (1, 2, 3...)`;\n        } else {\n          respuesta = `Gracias ${metadata.nombre}! Lamentablemente no tenemos disponibilidad inmediata. Te contactaremos en breve para coordinar.`;\n          accion = 'ESCALAR';\n          nuevaEtapa = 'escalar';\n        }\n      }\n\n      datosActualizados = true;\n    }\n\n    break;\n  }\n\n  case 'recopilando_nombre': {\n    let nombreLimpio = mensaje\n      .replace(/^(si|sí|ok|vale|confirmo)[,.\\s]+/i, '')\n      .trim();\n\n    if (pareceNombre(nombreLimpio) && !esTelefono(nombreLimpio)) {\n      metadata.nombre = nombreLimpio;\n      nuevaEtapa = 'recopilando_telefono';\n      respuesta = `Encantada, ${metadata.nombre}! 😊\\n\\n¿Cuál es tu número de teléfono de contacto? (Para confirmarte la cita)`;\n      datosActualizados = true;\n    } else {\n      respuesta = `Perdona, necesito tu nombre completo para poder hacer la reserva. ¿Cómo te llamas?`;\n    }\n\n    break;\n  }\n\n  case 'recopilando_telefono': {\n    const telefonoNormalizado = normalizarTelefonoES(mensaje);\n\n    if (telefonoNormalizado) {\n      metadata.telefono = telefonoNormalizado;\n      nuevaEtapa = 'mostrando_slots';\n      datosActualizados = true;\n\n      if (slots.length > 0) {\n        respuesta = `Gracias, ${metadata.nombre}! 📱\\n\\nEstas son las citas disponibles próximamente:\\n\\n${formatearSlots(slots)}\\n\\n¿Cuál te viene mejor? Responde con el número (1, 2, 3...)`;\n      } else {\n        respuesta = `Gracias ${metadata.nombre}! Lamentablemente no tenemos disponibilidad inmediata. Te contactaremos en breve para coordinar.`;\n        accion = 'ESCALAR';\n        nuevaEtapa = 'escalar';\n      }\n\n    } else {\n      respuesta = `Ese número no parece válido. ¿Puedes escribirme tu teléfono español? Puedes ponerlo como 613018226, 613 018 226 o +34 613 018 226.`;\n    }\n\n    break;\n  }\n\n  case 'mostrando_slots': {\n    if (esDespedida(mensaje)) {\n      nuevaEtapa = 'inicio';\n      respuesta = `¡Sin problema! Si en algún momento quieres pedir cita, aquí estaremos. ¡Hasta pronto!`;\n      break;\n    }\n\n    const quiereCancelarCita =\n      mensajeLower.includes('cancelar') ||\n      mensajeLower.includes('anular') ||\n      mensajeLower.includes('cancelacion') ||\n      mensajeLower.includes('cancelación');\n\n    if (quiereCancelarCita && metadata.calendarEventId) {\n      nuevaEtapa = 'confirmando_cancelacion';\n      metadata.cancelacionPendiente = true;\n      respuesta = `Entiendo, ${metadata.nombre || 'Paciente'}.\\n\\n¿Confirmas que quieres cancelar tu cita de ${metadata.tratamientoConfirmado || metadata.tratamientos_interes?.[0] || 'Consulta'}?\\n\\nResponde *SÍ* para cancelar o *NO* para mantenerla.`;\n      datosActualizados = true;\n      break;\n    }\n\n    const numSlot = mensajeLower.match(/^[1-6]$/) || mensajeLower.match(/\\b([1-6])\\b/);\n    const indiceSlot = numSlot ? parseInt(numSlot[1] || numSlot[0]) - 1 : -1;\n\n    if (indiceSlot >= 0 && indiceSlot < slots.length) {\n      slotElegido = slots[indiceSlot];\n      metadata.slotPropuesto = slotElegido;\n      nuevaEtapa = 'confirmando_cita';\n\n      const servicio =\n        metadata.tratamientoConfirmado ||\n        metadata.tratamientos_interes?.[0] ||\n        'Consulta General';\n\n      respuesta = `Perfecto! Resumen de tu cita:\\n\\n👤 Nombre: ${metadata.nombre}\\n📞 Teléfono: ${metadata.telefono}\\n💉 Tratamiento: ${servicio}\\n📅 ${slotElegido.label}\\n📍 ${input.CONFIG?.clinica?.direccion || \"TU_DIRECCION_CLINICA\"}\\n\\n¿Confirmas la cita? Responde *SÍ* para confirmar o *NO* para elegir otro horario.`;\n      datosActualizados = true;\n\n    } else if (CANCELAR.some(p => mensajeLower.includes(p))) {\n      respuesta = `Claro! Aquí tienes de nuevo los horarios disponibles:\\n\\n${formatearSlots(slots)}\\n\\n¿Cuál prefieres?`;\n\n    } else {\n      respuesta = `Por favor elige un número del 1 al ${Math.min(slots.length, 6)}:\\n\\n${formatearSlots(slots)}`;\n    }\n\n    break;\n  }\n\n  case 'confirmando_cita': {\nif (esDespedida(mensaje)) {\n  nuevaEtapa = metadata.citaConfirmada === true || metadata.calendarEventId\n    ? 'agendado'\n    : 'inicio';\n\n  accion = 'RESPONDER';\n  respuesta = `¡Hasta pronto, ${metadata.nombre || ''}! Que tengas un buen día.`;\n\n  metadata.confirmacionEnProceso = false;\n  metadata.confirmacionEnProcesoAt = null;\n\n  datosActualizados = true;\n  break;\n}\n    const slotProp = metadata.slotPropuesto;\n    const mensajeNorm = normalizar(mensaje);\n    if (CONFIRMAR.some(p => mensajeNorm.includes(p)) || CONFIRMAR.some(p => p === mensajeNorm)) {\nif (slotProp) {\n\n  // Protección anti doble confirmación\n  if (\n    metadata.citaConfirmada === true ||\n    metadata.confirmacionEnProceso === true\n  ) {\n    context.stage = 'agendado';\n    context.metadata = metadata;\n    \n    return [{\n      json: {\n        ...input,\n        context,\n        respuestaIA: '',\n        message: '',\n        noEnviarRespuesta: true,\n        accionMotor: 'NO_RESPONDER',\n        slotElegidoMotor: null,\n        citaLista: false,\n        categoriaIA: input.categoriaIA,\n        escalarHumano: false,\n        nuevaEtapa: 'agendado',\n        datosActualizados: false\n      }\n    }];\n  }\n\n  // Marcar confirmación en proceso\n  metadata.confirmacionEnProceso = true;\n  metadata.confirmacionEnProcesoAt = new Date().toISOString();\n\n  slotElegido = slotProp;\n  nuevaEtapa = 'agendado';\n  citaLista = true;\n  accion = 'AGENDAR';\n  respuesta = '__AGENDAR__';\n  datosActualizados = true;\n} else {\n        nuevaEtapa = 'mostrando_slots';\n        respuesta = `Vaya, parece que perdí el horario seleccionado. Por favor elige de nuevo:\\n\\n${formatearSlots(slots)}`;\n      }\n\n    } else if (CANCELAR.some(p => mensajeLower.includes(p)) || mensajeLower.includes('cambiar')) {\n      nuevaEtapa = 'mostrando_slots';\n\n      const slotActual = metadata.slotPropuesto;\n      const slotsCambio = slots.filter(s => {\n        if (!slotActual?.inicio) return true;\n        return s.inicio !== slotActual.inicio;\n      });\n\n      metadata.slotsDisponiblesFiltrados = slotsCambio;\n      metadata.slotPropuesto = null;\n\n      if (metadata.calendarEventId) {\n        metadata.esReprogramacion = true;\n        metadata.calendarEventIdAnterior = metadata.calendarEventId;\n      }\n\n      respuesta = `Sin problema! Elige otro horario:\\n\\n${formatearSlots(slotsCambio)}`;\n      datosActualizados = true;\n\n    } else {\n      const servicio =\n        metadata.tratamientoConfirmado ||\n        metadata.tratamientos_interes?.[0] ||\n        'Consulta';\n      respuesta = `Responde *SÍ* para confirmar la cita de ${servicio} el ${slotProp ? slotProp.label : 'horario seleccionado'}, o *NO* para elegir otro horario.`;\n    }\n\n    break;\n  }\n\ncase 'agendado': {\n  // 1. Detectar despedida\n  if (esDespedida(mensaje)) {\n    nuevaEtapa = 'agendado';\n    respuesta = `¡Hasta pronto, ${metadata.nombre || ''}! Que tengas un buen día. 😊`;\n    accion = 'RESPONDER';\n    \n    metadata.citaConfirmada = true;\n    metadata.confirmacionEnProceso = false;\n    metadata.confirmacionEnProcesoAt = null;\n\n    datosActualizados = true;\n    break;\n  }\n\n  // 2. Detectar cambio de cita \n  const quiereCambiar =\n  mensajeLower.includes('cambiar') ||\n  mensajeLower.includes('modificar') ||\n  mensajeLower.includes('reprogramar') ||\n  mensajeLower.includes('mover') ||\n  mensajeLower.includes('otro horario') ||\n  mensajeLower.includes('no puedo');\n\nif (quiereCambiar) {\n  nuevaEtapa = 'mostrando_slots';\n\n  const servicio =\n    metadata.tratamientoConfirmado ||\n    metadata.tratamientos_interes?.[0] ||\n    'Consulta';\n\n  const slotActual = metadata.slotPropuesto;\n\n  const slotsCambio = slots.filter(s => {\n    if (!slotActual?.inicio) return true;\n    return s.inicio !== slotActual.inicio;\n  });\n\n  metadata.slotsDisponiblesFiltrados = slotsCambio;\n  metadata.slotPropuesto = null;\n  metadata.esReprogramacion = true;\n  metadata.calendarEventIdAnterior = metadata.calendarEventId || null;\n\n  respuesta =\n`Claro, ${metadata.nombre || 'Paciente'} 😊\n\nPodemos cambiar tu cita de ${servicio}.\n\nEstas son las nuevas opciones disponibles:\n\n${formatearSlots(slotsCambio)}\n\n¿Cuál prefieres? Responde con el número.`;\n\n  datosActualizados = true;\n  break;\n}\n\n  // 3. Detectar petición de hablar con humano (ESCALADO)\n  if (\n    categoriaIA === 'ESCALAR_HUMANO' ||\n  mensajeLower.includes('hablar con') ||\n  mensajeLower.includes('persona') ||\n  mensajeLower.includes('humano') ||\n  mensajeLower.includes('agente') ||\n  mensajeLower.includes('alguien') ||\n  mensajeLower.includes('operador') ||\n  mensajeLower.includes('soporte') ||\n  mensajeLower.includes('atencion al cliente') ||\n  mensajeLower.includes('atención al cliente') ||\n  mensajeLower.includes('quiero que me ayude un humano') ||\n  mensajeLower.includes('hablar con un real') ||\n  mensajeLower.includes('con alguien')\n  ) {\n    nuevaEtapa = 'escalar';\n    accion = 'ESCALAR';\n  respuesta = `Por supuesto, ${metadata.nombre ? ', ' + metadata.nombre : ''}. \\n\\nHe avisado al equipo de atención al cliente. Te escribirán a la mayor brevedad posible (en unos minutos).\\n\\n¡Gracias por tu paciencia! 🙏`;\n    break;\n  }\n\n  // 4. Detectar cancelación\n  const quiereCancelar =\n    mensajeLower.includes('cancelar') ||\n    mensajeLower.includes('anular') ||\n    mensajeLower.includes('cancelacion') ||\n    mensajeLower.includes('cancelación');\n\n  if (quiereCancelar) {\n    nuevaEtapa = 'confirmando_cancelacion';\n    metadata.cancelacionPendiente = true;\n    respuesta = `Entiendo, ${metadata.nombre || 'Paciente'}.\\n\\n¿Confirmas que quieres cancelar tu cita de ${metadata.tratamientoConfirmado || metadata.tratamientos_interes?.[0] || 'Consulta'}?\\n\\nResponde *SÍ* para cancelar o *NO* para mantenerla.`;\n    datosActualizados = true;\n    break;\n  }\n\n  // 5. Detectar nueva cita\n  const quiereNuevaCita =\n    categoriaIA === 'AGENDAR' ||\n    mensajeLower.includes('nueva cita') ||\n    mensajeLower.includes('quiero cita') ||\n    mensajeLower.includes('otra cita') ||\n    mensajeLower.includes('reservar') ||\n    (mensajeLower.includes('cita') && !mensajeLower.includes('cancelar') && !mensajeLower.includes('cambiar'));\n\n  if (quiereNuevaCita) {\n    nuevaEtapa = 'mostrando_slots';\n    metadata.slotPropuesto = null;\n    metadata.citaConfirmada = false;\n    respuesta = slots.length > 0\n      ? `¡Claro! Estas son las citas disponibles:\\n\\n${formatearSlots(slots)}\\n\\n¿Cuál prefieres? Responde con el número.`\n      : `Ahora mismo no tenemos disponibilidad. Te contactaremos en breve para encontrar un hueco.`;\n    break;\n  }\n\n  // 6. Fallback (ninguna condición anterior se cumplió)\n  respuesta = `Tu cita ya está registrada 📋 Si necesitas hacer algún cambio, escríbenos y te ayudamos.`;\n  break;\n}\n  case 'cancelado': {\n    // Resetear stage para que la conversación pueda continuar con normalidad\n    context.stage = 'inicio';\n    nuevaEtapa = 'inicio';\n\n    if (esDespedida(mensaje)) {\n      respuesta = `¡Hasta pronto! Si algún día quieres volver, aquí estaremos. 😊`;\n      break;\n    }\n\n    // Limpiar datos de la cita anterior para empezar de cero\n    metadata.slotPropuesto = null;\n    metadata.citaConfirmada = false;\n    metadata.citaCancelada = false;\n    metadata.calendarEventId = null;\n    metadata.calendarEventIdAnterior = null;\n    metadata.esReprogramacion = false;\n    metadata.cancelacionPendiente = false;\n\n    if (\n      categoriaIA === 'AGENDAR' ||\n      mensajeLower.includes('cita') ||\n      mensajeLower.includes('reservar') ||\n      mensajeLower.includes('agendar')\n    ) {\n      nuevaEtapa = 'mostrando_slots';\n      respuesta = slots.length > 0\n        ? `¡Por supuesto! Estas son las citas disponibles:\\n\\n${formatearSlots(slots)}\\n\\n¿Cuál prefieres? Responde con el número.`\n        : `Ahora mismo no tenemos disponibilidad inmediata. Te contactaremos en breve para coordinar.`;\n    } else {\n      respuesta = input.respuestaIA || '¿En qué más puedo ayudarte?';\n    }\n\n    datosActualizados = true;\n    break;\n  }\n\n  case 'confirmando_cancelacion': {\n    const mensajeNorm = normalizar(mensaje);\n    const confirmaCancelacion =\n      CONFIRMAR.some(p => mensajeNorm.includes(p)) ||\n      CONFIRMAR.some(p => p === mensajeNorm);\n\n    const rechazaCancelacion =\n      mensajeLower === 'no' ||\n      mensajeLower.includes('mantener') ||\n      mensajeLower.includes('no cancelar');\n\n    if (confirmaCancelacion) {\n      nuevaEtapa = 'cancelado';\n      accion = 'CANCELAR_CITA';\n      respuesta = '__CANCELAR_CITA__';\n      metadata.citaCancelada = true;\n      metadata.cancelacionPendiente = false;\n      datosActualizados = true;\n\n    } else if (rechazaCancelacion) {\n      nuevaEtapa = 'agendado';\n      metadata.cancelacionPendiente = false;\n      respuesta = `Perfecto, mantenemos tu cita 😊 Si necesitas cambiar algo más, escríbenos.`;\n      datosActualizados = true;\n\n    } else {\n      respuesta = `Por favor responde *SÍ* para cancelar tu cita o *NO* para mantenerla.`;\n    }\n\n    break;\n  }\n\ncase 'escalar': {\n  const quiereCambiar =\n    mensajeLower.includes('cambiar') ||\n    mensajeLower.includes('modificar') ||\n    mensajeLower.includes('reprogramar') ||\n    mensajeLower.includes('mover');\n\n  if (quiereCambiar && metadata.citaConfirmada === true) {\n    nuevaEtapa = 'mostrando_slots';\n\n    const servicio =\n      metadata.tratamientoConfirmado ||\n      metadata.tratamientos_interes?.[0] ||\n      'Consulta';\n\n    const slotActual = metadata.slotPropuesto;\n\n    const slotsCambio = slots.filter(s => {\n      if (!slotActual?.inicio) return true;\n      return s.inicio !== slotActual.inicio;\n    });\n\n    metadata.slotsDisponiblesFiltrados = slotsCambio;\n    metadata.slotPropuesto = null;\n    metadata.esReprogramacion = true;\n    metadata.calendarEventIdAnterior = metadata.calendarEventId || null;\n\n    respuesta =\n`Claro, ${metadata.nombre || 'Paciente'} 😊\n\nPodemos cambiar tu cita de ${servicio}.\n\nEstas son las nuevas opciones disponibles:\n\n${formatearSlots(slotsCambio)}\n\n¿Cuál prefieres? Responde con el número.`;\n\n    datosActualizados = true;\n    accion = 'RESPONDER';\n    break;\n  }\n\n  if (esDespedida(mensaje)) {\n    nuevaEtapa = 'inicio';\n    respuesta = `¡Hasta pronto! Si necesitas algo más, aquí estaremos. 😊`;\n    accion = 'RESPONDER';\n    break;\n  }\n\n  if (categoriaIA === 'AGENDAR' || mensajeLower.includes('cita')) {\n    nuevaEtapa = 'inicio';\n    context.stage = 'inicio';\n    respuesta = input.respuestaIA || '¿En qué puedo ayudarte?';\n    accion = 'RESPONDER';\n    break;\n  }\n\n  respuesta = `Una persona del equipo te atenderá en breve. Gracias por tu paciencia.`;\n  accion = 'ESCALAR';\n  break;\n}\n  default: {\n    if (esDespedida(mensaje)) {\n      nuevaEtapa = 'inicio';\n      respuesta = `¡Hasta pronto! Si necesitas algo más, aquí estaremos. 😊`;\n    } else {\n      respuesta = input.respuestaIA || '¿En qué más puedo ayudarte?';\n    }\n  }\n}\n\ncontext.stage = nuevaEtapa;\ncontext.metadata = metadata;\n\nreturn [{\n  json: {\n    ...input,\n    context,\n    respuestaIA: respuesta,\n    message: respuesta,\n    accionMotor: accion,\n    slotElegidoMotor: slotElegido,\n    citaLista,\n    categoriaIA: accion === 'AGENDAR'\n      ? 'CONFIRMACION_CITA'\n      : (accion === 'ESCALAR' ? 'ESCALAR_HUMANO' : input.categoriaIA),\n    escalarHumano: accion === 'ESCALAR',\n    nuevaEtapa,\n    datosActualizados\n  }\n}];"
      },
      "id": "3fffc4bb-28d2-4599-b21c-7161d5a7fd82",
      "name": "Motor Estado Multi-turno",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        1056
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accionMotor }}",
                    "rightValue": "AGENDAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ra1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accionMotor }}",
                    "rightValue": "ESCALAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ra2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9536512-acfa-4c07-8a05-17ae8d377f6a",
                    "leftValue": "={{ $json.accionMotor }}",
                    "rightValue": "RESPONDER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7fa400e-3ce5-4afb-a6dc-26eaf6f2e93d",
                    "leftValue": "={{ $json.accionMotor }}",
                    "rightValue": "CANCELAR_CITA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "16e04ae2-b146-41b8-bf45-5e7bde87cd2a",
      "name": "Router Accion Motor",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2704,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// EXTRACCION DE TELEFONO PARA BUSQUEDA CROSS-CANAL\nconst input = $input.first().json;\nconst channel = input.channel;\nconst from = input.from || '';\nconst mensaje = (input.message || '').trim();\n\nfunction normalizarTelefono(str) {\n  if (!str) return null;\n  let limpio = str.replace(/[\\s\\-\\.\\(\\)]/g, '');\n  if (limpio.startsWith('+34')) limpio = limpio.slice(3);\n  if (limpio.startsWith('34') && limpio.length === 11) limpio = limpio.slice(2);\n  if (/^[6789]\\d{8}$/.test(limpio)) return limpio;\n  return null;\n}\n\nfunction extraerTelefonoDeTexto(texto) {\n  const patrones = [\n    /(?:\\+34|34)?[\\s\\-]?[6789][\\s\\-]?\\d{2}[\\s\\-]?\\d{2}[\\s\\-]?\\d{2}[\\s\\-]?\\d{2}/g,\n    /[6789]\\d{8}/g\n  ];\n  for (const patron of patrones) {\n    const matches = texto.match(patron);\n    if (matches) {\n      for (const m of matches) {\n        const norm = normalizarTelefono(m);\n        if (norm) return norm;\n      }\n    }\n  }\n  return null;\n}\n\nlet telefonoBusqueda = null;\nlet telefonoOrigen = null;\n\nif (channel === 'whatsapp') {\n  telefonoBusqueda = normalizarTelefono(from);\n  telefonoOrigen = 'whatsapp_from';\n}\nif (!telefonoBusqueda) {\n  const telEnMensaje = extraerTelefonoDeTexto(mensaje);\n  if (telEnMensaje) { telefonoBusqueda = telEnMensaje; telefonoOrigen = 'mensaje'; }\n}\nif (!telefonoBusqueda) {\n  telefonoBusqueda = normalizarTelefono(from) || null;\n  telefonoOrigen = telefonoBusqueda ? 'fallback' : null;\n}\n\nreturn [{ json: { ...input, telefonoBusqueda, telefonoOrigen, tieneTelefono: !!telefonoBusqueda } }];\n"
      },
      "id": "a9b3fe34-d4fd-4301-b6cf-b75366aa29fe",
      "name": "Extraer Telefono Busqueda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3344,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ap1",
              "leftValue": "={{ \n  $json.actualizarPaciente === true ||\n  $json.datosActualizados === true ||\n  $json.citaConfirmada === true ||\n  $json.cita_confirmada === true ||\n  $json.tipo_evento === 'CITA_CONFIRMADA' ||\n  $json.tipoEvento === 'CITA_CONFIRMADA' ||\n  !!$json.calendar_event_id ||\n  !!$json.calendarEventId\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "95750fc8-1928-4879-baf5-905c17ac0feb",
      "name": "Actualizar Paciente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1264,
        2544
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pacientes",
          "mode": "name",
          "cachedResultName": "Pacientes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_id": "={{ $json.patientId || $json.patient_id || $json.context?.patientId }}",
            "telefono": "={{ $json.paciente_telefono || (typeof $json.metadata === 'string' ? JSON.parse($json.metadata).telefono : $json.context?.metadata?.telefono) || '' }}",
            "telefono_normalizado": "={{ $json.paciente_telefono || (typeof $json.metadata === 'string' ? JSON.parse($json.metadata).telefono : $json.context?.metadata?.telefono) || '' }}",
            "nombre": "={{ $json.paciente_nombre || (typeof $json.metadata === 'string' ? JSON.parse($json.metadata).nombre : $json.context?.metadata?.nombre) || '' }}",
            "canal_origen": "={{ $json.channel || $json.canal || $json.context?.channel }}",
            "canales_usados": "={{ JSON.stringify([$json.channel || $json.canal || $json.context?.channel].filter(Boolean)) }}",
            "citas_confirmadas": "={{ $json.citaConfirmada || $json.cita_confirmada ? 1 : 0 }}",
            "metadata_global": "={{ typeof $json.metadata === 'string' ? $json.metadata : JSON.stringify($json.context?.metadata || {}) }}",
            "last_activity": "={{ $json.timestamp || $json.last_activity || new Date().toISOString() }}",
            "lead_score": "={{ $json.lead_score || $json.leadScore || 0 }}"
          },
          "matchingColumns": [
            "patient_id"
          ],
          "schema": [
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono_normalizado",
              "displayName": "telefono_normalizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal_origen",
              "displayName": "canal_origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canales_usados",
              "displayName": "canales_usados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "citas_confirmadas",
              "displayName": "citas_confirmadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata_global",
              "displayName": "metadata_global",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "40a95f86-7a14-4b1b-9473-411bb762e9cb",
      "name": "Guardar Paciente (Hoja Pacientes)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1008,
        2384
      ],
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ih1",
              "leftValue": "={{\n  $json.context?.metadata?.human_takeover === true &&\n  $json.context?.metadata?.human_takeover_at &&\n  (Date.now() - new Date($json.context.metadata.human_takeover_at).getTime()) < 2 * 30 * 60 * 1000\n}}",
              "rightValue": "TRUE",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1945bd6-0d55-44a5-bb76-a3ddbedd08e7",
      "name": "Intervencion Activa IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        592,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet meta = input.context?.metadata || {};\nif (typeof meta === 'string') {\n  try {\n    meta = JSON.parse(meta);\n  } catch (e) {\n    meta = {};\n  }\n}\n\nconst tipoEvento = (() => {\n  if (\n    input.citaConfirmada === true ||\n    meta.citaConfirmada === true ||\n    input.tipoEvento === 'CITA_CONFIRMADA' ||\n    input.categoriaIA === 'CONFIRMACION_CITA' ||\n    (input.id && input.htmlLink && input.status === 'confirmed')\n  ) return 'CITA_CONFIRMADA';\n\n  if (\n    input.escalarHumano === true ||\n    input.tipoEvento === 'ESCALADO' ||\n    input.categoriaIA === 'ESCALAR_HUMANO' ||\n    input.accionMotor === 'ESCALAR'\n  ) return 'ESCALADO';\n\n  if (\n    input.tipoEvento === 'CITA_CANCELADA' ||\n    input.accionMotor === 'CANCELAR_CITA'\n  ) return 'CITA_CANCELADA';\n\n  if (\n    input.categoriaIA === 'AGENDAR' ||\n    input.accionMotor === 'AGENDAR'\n  ) return 'INTENTO_AGENDAR';\n\n  if (input.context?.stage === 'confirmando_cita') {\n    return 'CONFIRMANDO_CITA';\n  }\n\n  return 'MENSAJE';\n})();\n\n// Solo guardar eventos relevantes, ignorar conversación normal y canal test\nconst eventosRelevantes = [\n  'CITA_CONFIRMADA',\n  'ESCALADO',\n  'CITA_CANCELADA'\n];\n\nif (!eventosRelevantes.includes(tipoEvento)) {\n  return [{\n    json: {\n      ...input,\n      crmSkipped: true,\n      tipoEvento\n    }\n  }];\n}\n\nconst prioridad =\n  tipoEvento === 'ESCALADO'\n    ? 'ALTA'\n    : tipoEvento === 'CITA_CONFIRMADA'\n      ? 'MEDIA'\n      : 'BAJA';\n\nconst servicio =\n  input.servicioFinal ||\n  input.servicio ||\n  meta.tratamientoConfirmado ||\n  meta.tratamientos_interes?.[0] ||\n  '';\n\nconst nombre =\n  input.nombrePaciente ||\n  meta.nombre ||\n  input.userName ||\n  'Desconocido';\n\nconst telefono =\n  input.telefonoPaciente ||\n  meta.telefono ||\n  input.telefonoBusqueda ||\n  input.from ||\n  '';\n\nconst citaFecha =\n  input.slotInicio ||\n  meta.slotPropuesto?.inicio ||\n  input.start?.dateTime ||\n  input.start?.date ||\n  '';\n\nconst calendarEventId =\n  input.calendarEventId ||\n  meta.calendarEventId ||\n  input.id ||\n  '';\n\nconst mensajePaciente =\n  input._webhookData?.message ||\n  input.context?.history?.filter(h => h.role === 'user').slice(-1)[0]?.content ||\n  '';\n\nconst respuestaBot =\n  input.respuestaIA ||\n  input.message ||\n  '';\n\nconst evento = {\n  event_id: `EVT-${Date.now()}`,\n  conversation_id: input.conversationId || input.context?.conversationId || '',\n  patient_id: input.patientId || input.context?.patientId || '',\n\n  canal: input.channel || input.context?.channel || '',\n  paciente_nombre: nombre,\n  paciente_telefono: telefono,\n\n  tipo_evento: tipoEvento,\n  prioridad,\n  etapa_actual: input.context?.stage || input.nuevaEtapa || 'inicio',\n\n  mensaje_paciente: mensajePaciente,\n  respuesta_bot: respuestaBot,\n\n  servicio,\n  cita_fecha: citaFecha,\n  calendar_event_id: calendarEventId,\n\n  requiere_atencion: (tipoEvento === 'ESCALADO').toString(),\n  operador_asignado: '',\n  resuelto: 'FALSE',\n  notas_staff: input.motivoEscalado || meta.motivoEscalado || '',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...input,\n    crmEvento: evento,\n    tipoEvento,\n    prioridad\n  }\n}];\n"
      },
      "id": "08d544a3-2093-448a-a2eb-7b7651332200",
      "name": "Registrar en CRM Inbox",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3456,
        1856
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "CRM_Inbox",
          "mode": "name",
          "cachedResultName": "CRM_Inbox"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_id": "={{ $json.crmEvento.event_id }}",
            "conversation_id": "={{ $json.crmEvento.conversation_id || $json.conversationId || $json.context?.conversationId || '' }}",
            "patient_id": "={{ $json.crmEvento.patient_id }}",
            "canal": "={{ $json.crmEvento.canal || $json.channel || $json.context?.channel || '' }}",
            "paciente_nombre": "={{ $json.crmEvento.paciente_nombre }}",
            "paciente_telefono": "={{ $json.crmEvento.paciente_telefono || $json.telefonoPaciente || $json.context?.metadata?.telefono || $json.from || '' }}",
            "tipo_evento": "={{ $json.crmEvento.tipo_evento }}",
            "prioridad": "={{ $json.crmEvento.prioridad }}",
            "etapa_actual": "={{ $json.crmEvento.etapa_actual }}",
            "mensaje_paciente": "={{ $json.crmEvento.mensaje_paciente }}",
            "respuesta_bot": "={{ $json.crmEvento.respuesta_bot }}",
            "servicio": "={{ $json.crmEvento.servicio }}",
            "cita_fecha": "={{ $json.crmEvento.cita_fecha }}",
            "calendar_event_id": "={{ $json.crmEvento.calendar_event_id }}",
            "requiere_atencion": "={{ $json.crmEvento.requiere_atencion }}",
            "resuelto": "FALSE",
            "timestamp": "={{ $json.crmEvento.timestamp }}",
            "operador_asignado": "={{ $json.crmEvento.operador_asignado }}",
            "notas_staff": "={{ $json.crmEvento.notas_staff }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "event_id",
              "displayName": "event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "canal",
              "displayName": "canal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paciente_nombre",
              "displayName": "paciente_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paciente_telefono",
              "displayName": "paciente_telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_evento",
              "displayName": "tipo_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prioridad",
              "displayName": "prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "etapa_actual",
              "displayName": "etapa_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje_paciente",
              "displayName": "mensaje_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta_bot",
              "displayName": "respuesta_bot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "servicio",
              "displayName": "servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cita_fecha",
              "displayName": "cita_fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendar_event_id",
              "displayName": "calendar_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requiere_atencion",
              "displayName": "requiere_atencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operador_asignado",
              "displayName": "operador_asignado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resuelto",
              "displayName": "resuelto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notas_staff",
              "displayName": "notas_staff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f9893c4b-e20a-44bf-a148-320db1bf3ae1",
      "name": "Guardar en CRM Inbox",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3296,
        2064
      ],
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let input = $input.first().json;\n\nlet meta = input.context?.metadata || {};\nif (typeof meta === 'string') {\n  try {\n    meta = JSON.parse(meta);\n  } catch (e) {\n    meta = {};\n  }\n}\n\nconst crm = input.crmEvento || input || {};\nconst alerta = input.alertaCRM || {};\n\nlet tipoEvento =\n  input.tipoEvento ||\n  input.tipo_evento ||\n  crm.tipo_evento ||\n  alerta.tipo ||\n  '';\n\nif (!tipoEvento) {\n  if (\n    input.citaConfirmada === true ||\n    meta.citaConfirmada === true ||\n    input.categoriaIA === 'CONFIRMACION_CITA' ||\n    (input.id && input.htmlLink && input.status === 'confirmed')\n  ) {\n    tipoEvento = 'CITA_CONFIRMADA';\n\n  } else if (\n    input.requiereAtencionHumana === true ||\n    input.escalarHumano === true ||\n    input.categoriaIA === 'ESCALAR_HUMANO' ||\n    input.accionMotor === 'ESCALAR'\n  ) {\n    tipoEvento = 'ESCALADO';\n\n  } else if (\n    input.accionMotor === 'CANCELAR_CITA' ||\n    input.tipoEvento === 'CITA_CANCELADA'\n  ) {\n    tipoEvento = 'CITA_CANCELADA';\n  }\n}\n\nif (\n  tipoEvento !== 'ESCALADO' &&\n  tipoEvento !== 'CITA_CONFIRMADA' &&\n  tipoEvento !== 'CITA_CANCELADA'\n) {\n  return [{\n    json: {\n      ...input,\n      emailAsunto: '',\n      emailCuerpo: '',\n      enviarEmail: false\n    }\n  }];\n}\n\nconst nombre =\n  crm.paciente_nombre ||\n  alerta.paciente ||\n  input.nombrePaciente ||\n  input.paciente_nombre ||\n  meta.nombre ||\n  input.datosRecopilados?.nombre ||\n  input.userName ||\n  'Desconocido';\n\nconst telefono =\n  crm.paciente_telefono ||\n  alerta.contacto ||\n  input.telefonoPaciente ||\n  input.paciente_telefono ||\n  meta.telefono ||\n  input.datosRecopilados?.telefono ||\n  input.telefonoBusqueda ||\n  input.from ||\n  'Sin teléfono';\n\nconst telefonoMostrar = telefono === 'Sin teléfono' ? 'No disponible' : telefono;\n\nconst canal = String(\n  input.channel ||\n  input.canal ||\n  input.context?.channel ||\n  alerta.canal ||\n  'desconocido'\n).toUpperCase();\n\nconst convId =\n  input.conversationId ||\n  input.conversation_id ||\n  input.context?.conversationId ||\n  alerta.conversationId ||\n  'Sin conversación';\n\nconst motivo =\n  crm.notas_staff ||\n  alerta.motivo ||\n  meta.motivoEscalado ||\n  input.motivoEscalado ||\n  'Valoración personalizada';\n\nconst tipoCita =\n  input.servicioFinal ||\n  input.servicio ||\n  crm.servicio ||\n  meta.tratamientoConfirmado ||\n  meta.tratamientos_interes?.[0] ||\n  'Consulta inicial';\n\nconst calendarId =\n  input.calendarEventId ||\n  input.calendar_event_id ||\n  crm.calendar_event_id ||\n  meta.calendarEventId ||\n  input.id ||\n  'N/A';\n\nfunction formatoFecha(fechaBase) {\n  if (!fechaBase) return 'Fecha pendiente';\n\n  const fechaObj = new Date(fechaBase);\n\n  if (isNaN(fechaObj.getTime())) {\n    return 'Fecha pendiente';\n  }\n\n  return (\n    fechaObj.toLocaleDateString('es-ES') +\n    ' — ' +\n    fechaObj.toLocaleTimeString('es-ES', {\n      hour: '2-digit',\n      minute: '2-digit'\n    })\n  );\n}\n\nconst fechaBase =\n  input.slotInicio ||\n  input.cita_fecha ||\n  crm.cita_fecha ||\n  input.slotElegidoMotor?.inicio ||\n  input.context?.metadata?.slotPropuesto?.inicio ||\n  null;\n\nlet fechaTexto = formatoFecha(fechaBase);\n\nif (\n  fechaTexto === 'Fecha pendiente' &&\n  (crm.mensaje_paciente || input.mensaje_paciente)\n) {\n  const mensajePaciente =\n    crm.mensaje_paciente ||\n    input.mensaje_paciente ||\n    '';\n\n  const fechaMatch = mensajePaciente.match(/📅\\s*(.+)/);\n  const horaMatch = mensajePaciente.match(/🕒\\s*(.+)/);\n\n  if (fechaMatch || horaMatch) {\n    fechaTexto = (\n      (fechaMatch?.[1] || '') +\n      ' ' +\n      (horaMatch?.[1] || '')\n    ).trim();\n  }\n}\n\nconst hr = `<hr style=\"border:none;border-top:1px solid #ddd;margin:20px 0;\">`;\n\nfunction layoutEmail(titulo, contenido, footerExtra = '') {\n  return `\n<div style=\"font-family: Arial, sans-serif; font-size:14px; line-height:1.6; color:#222;\">\n  <h2 style=\"margin-bottom:20px;\">${titulo}</h2>\n\n  ${hr}\n\n  ${contenido}\n\n  ${hr}\n\n  <h3 style=\"margin-bottom:10px;\">🗂️ Datos técnicos</h3>\n  <p><strong>Calendar ID:</strong><br>${calendarId}</p>\n  <p><strong>Conversation ID:</strong><br>${convId}</p>\n\n  ${footerExtra ? `${hr}${footerExtra}` : ''}\n\n  ${hr}\n\n  <p style=\"color:#666;font-size:12px;margin-top:20px;\">\n    Generado automáticamente por Omnichannel AI Scheduler.\n  </p>\n</div>`;\n}\n\nlet asunto = '';\nlet cuerpo = '';\n\nif (tipoEvento === 'ESCALADO') {\n\n  asunto = `ESCALADO - ${nombre} (${canal})`;\n\n  cuerpo = layoutEmail(\n    '🚨 Caso escalado a atención humana',\n    `\n    <p><strong>👤 Paciente:</strong><br>${nombre}</p>\n    <p><strong>📞 Teléfono:</strong><br>${telefonoMostrar}</p>\n    <p><strong>💬 Canal:</strong><br>${canal}</p>\n\n    ${hr}\n\n    <p><strong>📌 Motivo:</strong><br>${motivo}</p>\n\n    <p><strong>💬 Último mensaje:</strong><br>\n      <em>${crm.mensaje_paciente || input._webhookData?.message || input.message || ''}</em>\n    </p>\n\n    <p><strong>🤖 Respuesta del bot:</strong><br>\n      <em>${crm.respuesta_bot || input.respuestaIA || input.message || ''}</em>\n    </p>\n    `\n  );\n\n} else if (tipoEvento === 'CITA_CONFIRMADA') {\n\n  asunto = `NUEVA CITA - ${nombre} | ${\n    fechaBase\n      ? new Date(fechaBase).toLocaleDateString('es-ES')\n      : 'Fecha pendiente'\n  }`;\n\n  cuerpo = layoutEmail(\n    '🏥 Nueva cita confirmada',\n    `\n    <p><strong>👤 Paciente:</strong><br>${nombre}</p>\n    <p><strong>📞 Teléfono:</strong><br>${telefonoMostrar}</p>\n    <p><strong>💬 Canal:</strong><br>${canal}</p>\n    <p><strong>📋 Tipo de cita:</strong><br>${tipoCita}</p>\n    <p><strong>📅 Fecha y hora:</strong><br>${fechaTexto}</p>\n    `\n  );\n\n} else if (tipoEvento === 'CITA_CANCELADA') {\n\n  asunto = `CITA CANCELADA - ${nombre}`;\n\n  cuerpo = layoutEmail(\n    '❌ Cita cancelada',\n    `\n    <p><strong>👤 Paciente:</strong><br>${nombre}</p>\n    <p><strong>📞 Teléfono:</strong><br>${telefonoMostrar}</p>\n    <p><strong>💬 Canal:</strong><br>${canal}</p>\n    <p><strong>📋 Tipo de cita:</strong><br>${tipoCita}</p>\n    <p><strong>📅 Fecha y hora:</strong><br>${fechaTexto}</p>\n    `,\n    `\n    <p style=\"color:#444;\">\n      La cita ha sido cancelada correctamente en el sistema.\n    </p>\n    `\n  );\n}\n\nreturn [{\n  json: {\n    ...input,\n    emailAsunto: asunto,\n    emailCuerpo: cuerpo,\n    enviarEmail: true,\n    emailFormato: 'html'\n  }\n}];"
      },
      "id": "fa68677e-527a-45e2-b28f-2cbfd260e339",
      "name": "Preparar Email Staff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3120,
        2064
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "em1",
              "leftValue": "={{ $json.enviarEmail }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "452be599-17d4-44fb-9dfa-7a26f1b9f280",
      "name": "Enviar Email IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2928,
        2064
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.STAFF_EMAIL }}",
        "subject": "={{ $json.emailAsunto }}",
        "message": "={{ $json.emailCuerpo }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "b4848567-a43b-4830-9b3c-4727d0f70485",
      "name": "Enviar Email Staff Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2672,
        1984
      ]
    },
    {
      "parameters": {},
      "id": "49ed1f54-c48e-4e37-adf3-41e49809a4ab",
      "name": "Merge Notificaciones",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2240,
        2064
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet score = 0;\n\nif (input.categoriaIA === 'AGENDAR') score += 40;\nif (input.servicio) score += 20;\nif (input.context?.messageCount > 2) score += 15;\nif (input.escalarHumano) score -= 30;\n\nreturn [{ json: { ...input, lead_score: Math.min(100, Math.max(0, score)) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3104,
        1056
      ],
      "id": "9c81708b-fae9-464d-9edf-f784c8850196",
      "name": "Lead scoring"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 215091400,
          "mode": "list",
          "cachedResultName": "Metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit#gid=215091400"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1776,
        2064
      ],
      "id": "0452695c-f364-47e0-81cc-679086430023",
      "name": "Leer Metrics",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst metrics = items.find(i =>\n  i.total_leads !== undefined ||\n  i.citas_agendadas !== undefined ||\n  i.escalados !== undefined\n) || {};\n\nconst input = items.find(i =>\n  i.tipoEvento ||\n  i.tipo_evento ||\n  i.crmEvento?.tipo_evento ||\n  i.categoriaIA\n) || {};\n\nconst tipoEvento =\n  input.tipoEvento ||\n  input.tipo_evento ||\n  input.crmEvento?.tipo_evento ||\n  input.categoriaIA ||\n  '';\n\nif (!tipoEvento) {\n  return [{\n    json: {\n      ...metrics,\n      metricsSkipped: true,\n      reason: 'No tipoEvento'\n    }\n  }];\n}\n\nlet total_leads = parseInt(metrics.total_leads) || 0;\nlet leads_cualificados = parseInt(metrics.leads_cualificados) || 0;\nlet citas_agendadas = parseInt(metrics.citas_agendadas) || 0;\nlet citas_completadas = parseInt(metrics.citas_completadas) || 0;\nlet escalados = parseInt(metrics.escalados) || 0;\n\nif (tipoEvento === 'MENSAJE' || tipoEvento === 'INTENTO_AGENDAR') total_leads++;\nif (tipoEvento === 'INTENTO_AGENDAR') leads_cualificados++;\nif (tipoEvento === 'CITA_CONFIRMADA' || tipoEvento === 'CONFIRMACION_CITA') citas_agendadas++;\nif (tipoEvento === 'ESCALADO' || tipoEvento === 'ESCALAR_HUMANO') escalados++;\nif (tipoEvento === 'CITA_CANCELADA') citas_completadas++;\n\nconst conversion_rate =\n  total_leads > 0 ? (citas_agendadas / total_leads) * 100 : 0;\n\nreturn [{\n  json: {\n    ...input,\n    row_number: metrics.row_number || 2,\n    total_leads,\n    leads_cualificados,\n    citas_agendadas,\n    citas_completadas,\n    escalados,\n    conversion_rate: conversion_rate.toFixed(2),\n    timestamp: new Date().toISOString(),\n    tipoEvento\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        2064
      ],
      "id": "f2a2b801-d589-4fe3-a663-f8d4ba772061",
      "name": "Actualizar Metrics"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 215091400,
          "mode": "list",
          "cachedResultName": "Metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit#gid=215091400"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_leads": "={{ $json.total_leads }}",
            "leads_cualificados": "={{ $json.leads_cualificados }}",
            "citas_agendadas": "={{ $json.citas_agendadas }}",
            "citas_completadas": "={{ $json.citas_completadas }}",
            "escalados": "={{ $json.escalados }}",
            "row_number": "={{ $json.row_number || 2 }}",
            "conversion_rate": "={{ $json.conversion_rate }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "total_leads",
              "displayName": "total_leads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leads_cualificados",
              "displayName": "leads_cualificados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "citas_agendadas",
              "displayName": "citas_agendadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "citas_completadas",
              "displayName": "citas_completadas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escalados",
              "displayName": "escalados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversion_rate",
              "displayName": "conversion_rate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1216,
        2064
      ],
      "id": "3759c9c5-1c0e-4f60-84ff-475bc47801b4",
      "name": "Guardar Metrics",
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURACIÓN CENTRALIZADA DEL SISTEMA\n// ⚠️ Las variables de entorno NO se pueden leer aquí.\n// Los valores que dependan del entorno (IDs de Sheets, Calendar, etc.)\n// se deben configurar en los nodos correspondientes (Google Sheets, Calendar)\nconst input = $input.first().json;\n\nconst CONFIG = {\n  clinica: {\n    nombre: \"TU_CLINICA_NOMBRE\",\n    direccion: \"TU_DIRECCION_CLINICA\",\n    telefono: \"TU_TELEFONO_CLINICA\",\n    email: \"TU_EMAIL_CLINICA\",\n    timezone: \"Europe/Madrid\"\n  },\n  horario: {\n    inicio: 10,\n    fin: 19,\n    duracion_cita: 60,\n    dias_laborables: [1, 2, 3, 4, 5]\n  },\n  tratamientos: [\n    { nombre: \"Botox facial\",               precio: \"250-400€\", duracion: 30, edad_minima: 18, exclusiones: [\"embarazo\",\"lactancia\"] },\n    { nombre: \"Ácido Hialurónico labios\",   precio: \"350-450€\", duracion: 45, edad_minima: 18, exclusiones: [\"alergias\"] },\n    { nombre: \"Ácido Hialurónico pómulos\",  precio: \"500-600€\", duracion: 45, edad_minima: 18, exclusiones: [] },\n    { nombre: \"Limpieza Facial Profunda\",   precio: \"80-120€\",  duracion: 60, edad_minima: 0,  exclusiones: [] },\n    { nombre: \"PRP Plasma Rico Plaquetas\",  precio: \"400-800€\", duracion: 60, edad_minima: 18, exclusiones: [\"anticoagulantes\"] },\n    { nombre: \"Mesoterapia facial\",         precio: \"200-350€\", duracion: 45, edad_minima: 18, exclusiones: [] }\n  ],\n  mensajes: {\n    bienvenida: \"👋 ¡Hola! Soy Sofía, tu asistente virtual de {clinica_nombre}. ¿En qué puedo ayudarte hoy?\",\n    despedida:  \"¡Hasta pronto! Si necesitas algo más, no dudes en escribirnos. 😊\",\n    error:      \"Lo siento, ha ocurrido un error. Por favor inténtalo de nuevo.\",\n    cancelacion_antelacion: 24\n  },\n  crm: {\n    notificar_escalados: true,\n    notificar_citas:     true,\n    lead_score_hot:      70,\n    lead_score_warm:     40\n  }\n};\n\nreturn [{ json: { ...input, CONFIG: CONFIG } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2944,
        304
      ],
      "id": "e5fa2954-e7a4-4bde-ba49-9f0793c55168",
      "name": "CONFIG"
    },
    {
      "parameters": {
        "jsCode": "// FALLBACK - Paciente Nuevo\n// Si Buscar Paciente no encuentra nada, reconstruimos los datos desde Control Lecturas Sheets,\n// porque el nodo Google Sheets puede devolver {}.\n\nconst input = $('Control Lecturas Sheets').first().json;\n\nconst patientId = `PAC-${Date.now()}-${Math.random().toString(36).slice(2, 8).toUpperCase()}`;\n\nreturn [{\n  json: {\n    ...input,\n\n    patientId,\n    patient_id: patientId,\n\n    pacienteNuevo: true,\n    pacienteEncontrado: false,\n\n    _fallback: true,\n    _source: 'fallback_buscar_paciente'\n  }\n}];\n"
      },
      "id": "3225afea-c673-4c25-8e19-f9f1e3f2df43",
      "name": "Fallback Paciente Nuevo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        256
      ]
    },
    {
      "parameters": {},
      "id": "5419fcfd-1458-4f01-92a5-6342c7aa4006",
      "name": "Merge Buscar Paciente",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1248,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// FALLBACK - Check Intervención Activa\n// Cuando la hoja Intervenciones está vacía o no hay fila para esta conv,\n// el nodo Sheets no emite nada y el flujo muere.\n// Este fallback siempre emite un item indicando \"sin intervención activa\".\nconst input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    _fallback: true,\n    _source: 'fallback_intervencion',\n    // Simular que no hay intervención activa\n    activa: 'FALSE',\n    conversation_id: input.conversationId,\n    operador: null\n  }\n}];\n"
      },
      "id": "8a9d80b0-c84d-4c0c-a1fd-d4a6e68a1659",
      "name": "Fallback Sin Intervencion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "978d2bf3-3562-4388-bf41-f659d0f36284",
      "name": "Merge Check Intervencion",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        400,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// FALLBACK - Get row(s) in sheet (Contexto)\n// Cuando es la primera vez que este paciente escribe (nueva conversación),\n// no hay fila en la hoja Contexto → Sheets no emite nada.\n// Emitimos item vacío para que Resolver Identidad lo trate como contexto nuevo.\nconst input = $input.first().json;\nreturn [{\n  json: {\n    _fallback: true,\n    _source: 'fallback_contexto',\n    // Sin datos de contexto → Resolver Identidad creará contexto desde cero\n    conversationId: input.conversationId,\n    channel: input.channel,\n    from: input.from,\n    message: input.message,\n    userName: input.userName,\n    telefonoBusqueda: input.telefonoBusqueda,\n    timestamp: input.timestamp\n  }\n}];\n"
      },
      "id": "720a8ca9-b109-444c-96ca-516d35201f48",
      "name": "Fallback Contexto Nuevo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(i => i.json);\nconst item = allItems[0] || {};\n\nconst wd = item._webhookData || {};\nconst channel          = item.channel          || wd.channel          || '';\nconst from             = item.from             || wd.from             || '';\nconst message          = item.message          || wd.message          || '';\nconst userName         = item.userName         || wd.userName         || item.user_name || 'Paciente';\nconst timestamp        = item.timestamp        || wd.timestamp        || new Date().toISOString();\nconst telefonoBusqueda = item.telefonoBusqueda || wd.telefonoBusqueda || item.telefono_normalizado || null;\nconst CONFIG           = item.CONFIG           || wd.CONFIG           || {};\n\n// Detectar si es un reset\nconst esReset = (message || '').toLowerCase().trim() === 'reset';\n\n// SIEMPRE generar IDs ÚNICOS para cada conversación (nunca reutilizar)\nconst uniqueSuffix = `${Date.now()}-${Math.random().toString(36).slice(2,10)}`;\nconst conversationId = `${channel}:${from}:${uniqueSuffix}`;\nconst patientId = `PAC-${Date.now()}-${Math.random().toString(36).slice(2,10).toUpperCase()}`;\nconst esNuevoPaciente = true;\n\n// Si NO es reset y ya existe un conversation_id previo, usarlo\nif (!esReset && item.conversation_id) {\n  conversationId = item.conversation_id;\n}\n\n// FORZAR: Siempre nuevo patientId (nunca reutilizar)\nconst patientId = `PAC-${Date.now()}-${Math.random().toString(36).slice(2,10).toUpperCase()}`;\nconst esNuevoPaciente = true;\n\nconst nombrePaciente      = item.nombre || null;\nconst canalOrigen         = item.canal_origen || channel;\nconst citasConfirmadas    = parseInt(item.citas_confirmadas || '0');\nconst telefonoNormalizado = item.telefono_normalizado || telefonoBusqueda;\n\nlet canalesUsados = [];\nlet metadataGlobal = {};\nlet slotsFiltrados = [];\n\ntry { canalesUsados = JSON.parse(item.canales_usados || '[]'); } catch(e) {}\ntry { metadataGlobal = JSON.parse(item.metadata_global || '{}'); } catch(e) {}\ntry { slotsFiltrados = JSON.parse(item.slots_filtrados || '[]'); } catch(e) {}\n\nconst nuevoCanal = !canalesUsados.includes(channel);\nif (nuevoCanal && channel) canalesUsados.push(channel);\n\nconst paciente = {\n  patientId, telefono: telefonoBusqueda, telefonoNormalizado,\n  nombre: nombrePaciente, canalOrigen, canalesUsados,\n  citasConfirmadas, metadataGlobal, nuevoCanal, esNuevoPaciente\n};\n\n// Hay contexto existente si el item tiene conversation_id y stage de Sheets\nconst esFallbackContexto = !item.conversation_id || !item.stage;\nlet context;\n\nif (!esFallbackContexto && !esReset && item.conversation_id === conversationId) {\n  let history = [];\n  let metadata = {};\n  try { history = JSON.parse(item.history || '[]'); } catch(e) {}\n  try {\n    metadata = typeof item.metadata === 'string'\n      ? JSON.parse(item.metadata || '{}')\n      : (item.metadata || {});\n  } catch(e) {\n    metadata = {};\n  }\n\n  context = {\n    conversationId, patientId, channel, from,\n    userName: userName || nombrePaciente || 'Paciente',\n    stage: item.stage || 'inicio',\n    messageCount: parseInt(item.message_count || '0') + 1,\n    history,\n    metadata: {\n      tratamientos_interes: [],\n      edad: null,\n      condiciones: [],\n      aptitudVerificada: false,\n      slotPropuesto: null,\n      ...(metadataGlobal || {}),\n      ...(metadata || {}),\n      nombre: nombrePaciente || metadata.nombre || null,\n      telefono: telefonoBusqueda || metadata.telefono || null\n    },\n    lastActivity: new Date().toISOString()\n  };\n} else {\n  context = {\n    conversationId, patientId, channel, from,\n    userName: userName || nombrePaciente || 'Paciente',\n    stage: 'inicio', messageCount: 1, history: [],\n    metadata: {\n      tratamientos_interes: [],\n      edad: null,\n      condiciones: [],\n      nombre: null,\n      telefono: null,\n      aptitudVerificada: false,\n      slotPropuesto: null,\n      slotsDisponiblesFiltrados: slotsFiltrados,\n    },\n    lastActivity: new Date().toISOString()\n  };\n}\n\ncontext.history.push({ role: 'user', content: message, timestamp: new Date().toISOString() });\nif (context.history.length > 20) context.history = context.history.slice(-20);\n\nconst saludoBienvenida = (!esNuevoPaciente && nuevoCanal && nombrePaciente)\n  ? `Hola de nuevo ${nombrePaciente}! Te reconocemos de tu historial. `\n  : '';\n\nreturn [{\n  json: {\n    channel, from, message, conversationId,\n    userName: context.userName, telefonoBusqueda, timestamp, CONFIG,\n    context, paciente, patientId, esNuevoPaciente,\n    saludoBienvenida, actualizarPaciente: esNuevoPaciente || nuevoCanal,\n    _webhookData: { channel, from, message, conversationId,\n      userName: context.userName, telefonoBusqueda, timestamp, CONFIG },\n    _debug: {\n      numItems: allItems.length,\n      esFallbackContexto,\n      itemStage: item.stage,\n      itemConvId: item.conversation_id,\n      itemFallback: item._fallback,\n      esReset\n    }\n  }\n}];"
      },
      "id": "45fa0491-ed86-43d9-8a8a-2284d99a3e90",
      "name": "Resolver Identidad Cross-Canal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        64
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Pacientes",
          "mode": "name",
          "cachedResultName": "Pacientes"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=telefono_normalizado",
              "lookupValue": "={{ $json.telefonoBusqueda || 'NO_PHONE' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96aa064b-7a75-47ac-b061-97d2bd194ff7",
      "name": "Buscar Paciente (Hoja Pacientes)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1952,
        48
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "rc1",
              "leftValue": "={{ $json.rateLimited }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31176e8d-bb30-44f7-86cf-452ca1dd7eef",
      "name": "Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2736,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 232546536,
          "mode": "list",
          "cachedResultName": "Contexto",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit#gid=232546536"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=conversation_id",
              "lookupValue": "={{ String($json.conversationId || $json.context?.conversationId || $json._webhookData?.conversationId || '').trim() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f3f7d2d1-5063-436a-aa03-c891172f8bf0",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -992,
        176
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Intervenciones",
          "mode": "name",
          "cachedResultName": "Intervenciones"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=conversation_id",
              "lookupValue": "={{ $json.conversationId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "359037b0-f2f0-44f9-965c-1fa642a72619",
      "name": "Check Intervencion Activa",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        32,
        160
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    ...input,\n    _fallback: true,\n    _source: 'fallback_calendar_vacio'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        144
      ],
      "id": "46d6c7a4-996e-4fda-85cf-b071f71ca954",
      "name": "Fallback Calendar Vacío"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1360,
        288
      ],
      "id": "bc133119-708c-4a1f-a33d-639c1f76698c",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3488,
        1088
      ],
      "id": "e310aa3d-9f47-4ae6-82e9-021fc52eed70",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || \"primary\" }}",
          "mode": "list",
          "cachedResultName": "GOOGLE_CALENDAR_ID"
        },
        "returnAll": true,
        "timeMin": "={{ DateTime.fromISO($json.slotInicio).minus({ minutes: 1 }).toISO() }}",
        "timeMax": "={{ DateTime.fromISO($json.slotFin).plus({ minutes: 1 }).toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2288,
        944
      ],
      "id": "e4766fd2-783b-45a0-b01e-2aacf64c24fc",
      "name": "Verificar Slot Libre",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const input = $('Motor Estado Multi-turno').first().json;\n\n// Si viene una confirmación real de cita, NO bloquear por slot ocupado.\n// El slot ya fue ofrecido y guardado en metadata.slotPropuesto.\nif (input.accionMotor === 'AGENDAR' && input.slotElegidoMotor && input.context?.stage === 'confirmando_cita') {\n  return [{\n    json: {\n      ...input,\n      _forzarCreacion: true,\n      accionMotor: 'AGENDAR',\n      nuevaEtapa: 'agendado'\n    }\n  }];\n}\n\nconst slotOcupado =\n  input.slotElegidoMotor ||\n  input.context?.metadata?.slotPropuesto ||\n  null;\n\nconst slots = (input.slotsDisponibles || []).filter(s => {\n  if (!slotOcupado?.inicio) return true;\n  return s.inicio !== slotOcupado.inicio;\n});\n\nconst slotsTexto = slots\n  .slice(0, 6)\n  .map((s, i) => `${i + 1}. ${s.label}`)\n  .join('\\n');\n\nconst msg = slotsTexto\n  ? `Lo siento 😔 Ese horario acaba de ocuparse.\\n\\nEstas son otras opciones disponibles:\\n\\n${slotsTexto}\\n\\n¿Cuál prefieres? Responde con el número.`\n  : `Lo siento 😔 Ese horario acaba de ocuparse.\\n\\nAhora mismo no veo otros huecos disponibles. Un miembro del equipo te contactará para ayudarte.`;\n\nreturn [{\n  json: {\n    ...input,\n    message: msg,\n    respuestaIA: msg,\n    categoriaIA: 'SLOT_OCUPADO',\n    last_intencion: 'SLOT_OCUPADO',\n    citaConfirmada: false,\n    citaLista: false,\n    escalarHumano: !slotsTexto,\n    nuevaEtapa: slotsTexto ? 'mostrando_slots' : 'escalar',\n    slotsDisponibles: slots,\n    slotsTexto,\n    context: {\n      ...(input.context || {}),\n      stage: slotsTexto ? 'mostrando_slots' : 'escalar',\n      slotsDisponiblesFiltrados: slots,\n      metadata: {\n        ...(input.context?.metadata || {}),\n        slotPropuesto: null,\n        slotsDisponiblesFiltrados: slots\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        1104
      ],
      "id": "ebff3154-2cf2-4cca-9d8a-a975396dfa8c",
      "name": "Slot ocupado"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY",
          "mode": "list",
          "cachedResultName": "Omnichannel AI Scheduler",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l9oQpvrmOUf9bcn7BhvNkcbTSJPlBaPC1nNa3c0JDjY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "Contexto",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "from": "={{ $('Preparar Respuesta Final').first().json.from }}",
            "channel": "={{ $('Preparar Respuesta Final').first().json.channel }}",
            "user_name": "={{ $('Preparar Respuesta Final').first().json.userName }}",
            "stage": "={{ $('Preparar Respuesta Final').first().json.context.stage }}",
            "history": "={{ JSON.stringify($('Preparar Respuesta Final').first().json.context.history || []) }}",
            "metadata": "={{ JSON.stringify($('Preparar Respuesta Final').first().json.context.metadata || {}) }}",
            "message_count": "={{ $('Preparar Respuesta Final').first().json.context.messageCount }}",
            "last_intencion": "={{ $('Preparar Respuesta Final').first().json.categoriaIA }}",
            "last_servicio": "={{ $('Preparar Respuesta Final').first().json.servicio }}",
            "cita_confirmada": "={{ $('Preparar Respuesta Final').first().json.citaConfirmada || false }}",
            "calendar_event_id": "={{ $('Preparar Respuesta Final').first().json.calendarEventId || '' }}",
            "escalar_humano": "={{ $('Preparar Respuesta Final').first().json.escalarHumano }}",
            "last_activity": "={{ $('Preparar Respuesta Final').first().json.timestamp }}",
            "patient_id": "={{ $('Preparar Respuesta Final').first().json.context.patientId }}",
            "lead_score": "={{ $('Preparar Respuesta Final').first().json.lead_score }}",
            "slots_filtrados": "={{ JSON.stringify($json.slotsDisponiblesFiltrados || $json.context?.metadata?.slotsDisponiblesFiltrados || []) }}",
            "conversation_id": "={{ String($json.context.conversationId || $json.conversationId || '').trim() }}"
          },
          "matchingColumns": [
            "conversation_id"
          ],
          "schema": [
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "from",
              "displayName": "from",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stage",
              "displayName": "stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "history",
              "displayName": "history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_count",
              "displayName": "message_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_intencion",
              "displayName": "last_intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_servicio",
              "displayName": "last_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cita_confirmada",
              "displayName": "cita_confirmada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "calendar_event_id",
              "displayName": "calendar_event_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "escalar_humano",
              "displayName": "escalar_humano",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_activity",
              "displayName": "last_activity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "patient_id",
              "displayName": "patient_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_score",
              "displayName": "lead_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slots_filtrados",
              "displayName": "slots_filtrados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "60a52644-91eb-46e1-aecf-1d607689f92e",
      "name": "Guardar Contexto Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2192,
        2720
      ],
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || \"primary\" }}",
          "mode": "list",
          "cachedResultName": "GOOGLE_CALENDAR_ID"
        },
        "eventId": "={{ $json.calendarEventIdAnterior }}",
        "updateFields": {
          "description": "={{ $json.calendarEvent.description }}",
          "end": "={{ $json.slotFin }}",
          "start": "={{ $json.slotInicio }}",
          "summary": "={{ $json.calendarEvent.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1328,
        784
      ],
      "id": "61b6ab24-2c62-41af-bf1b-5e3e1bc19033",
      "name": "Actualizar Evento Calendar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "91d2bf9a-5e7d-44a6-ae00-65b86bf3b409",
              "leftValue": "={{ $json.slotOcupado }}",
              "rightValue": "0",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1904,
        944
      ],
      "id": "fb70a536-cd61-464a-9a88-0d205a10c998",
      "name": "IF Slot Libre?"
    },
    {
      "parameters": {
        "jsCode": "let actual = $input.first().json;\nlet motor = {};\nlet detectar = {};\n\ntry {\n  motor = $('Motor Estado Multi-turno').first().json;\n} catch (e) {}\n\ntry {\n  detectar = $('Detectar y Preparar Cita').first().json;\n} catch (e) {}\n\nlet meta =\n  motor.context?.metadata ||\n  detectar.context?.metadata ||\n  actual.context?.metadata ||\n  actual.metadata ||\n  {};\n\nif (typeof meta === 'string') {\n  try {\n    meta = JSON.parse(meta);\n  } catch (e) {\n    meta = {};\n  }\n}\n\nconst esReprogramacion =\n  meta.esReprogramacion === true ||\n  meta.esReprogramacion === 'true';\n\nconst calendarEventIdAnterior =\n  meta.calendarEventIdAnterior ||\n  actual.calendarEventIdAnterior ||\n  detectar.calendarEventIdAnterior ||\n  '';\n\nreturn [{\n  json: {\n    ...actual,\n    ...detectar,\n\n    context: {\n      ...(detectar.context || actual.context || {}),\n      metadata: {\n        ...meta,\n        esReprogramacion,\n        calendarEventIdAnterior\n      }\n    },\n\n    esReprogramacion,\n    calendarEventIdAnterior,\n    rutaReprogramacion: esReprogramacion && calendarEventIdAnterior ? 'UPDATE' : 'CREATE',\n\n    slotInicio: detectar.slotInicio || actual.slotInicio || meta.slotPropuesto?.inicio,\n    slotFin: detectar.slotFin || actual.slotFin || meta.slotPropuesto?.fin,\n    calendarEvent: detectar.calendarEvent || actual.calendarEvent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1696,
        896
      ],
      "id": "9f7ceaed-d243-4d59-b3a1-c8f8bca37eb3",
      "name": "Recuperar Datos Reprogramación"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d61eaf0-dbdb-4ee6-9ed1-a1e83294c848",
              "leftValue": "={{ $json.rutaReprogramacion }}",
              "rightValue": "UPDATE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1520,
        896
      ],
      "id": "c8ed72da-d944-4e0a-8674-0770f0cf537d",
      "name": "IF Reprogramación?"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_CALENDAR_ID || \"primary\" }}",
          "mode": "list",
          "cachedResultName": "GOOGLE_CALENDAR_ID"
        },
        "eventId": "={{ $json.context.metadata.calendarEventId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2080,
        1568
      ],
      "id": "f59da2c3-4289-4fd7-8057-b7441f0c6567",
      "name": "Cancelar Evento Calendar"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Motor Estado Multi-turno').first().json;\nconst cancelacion = $input.first().json;\n\nconst input = {\n  ...original,\n  ...cancelacion\n};\n\nconst meta = input.context?.metadata || {};\n\nconst calendarEventIdAnterior =\n  meta.calendarEventId ||\n  input.calendarEventId ||\n  cancelacion.calendarEventId ||\n  '';\n\nconst nombre = meta.nombre || input.nombrePaciente || 'Paciente';\n\nconst servicio =\n  meta.tratamientoConfirmado ||\n  meta.tratamientos_interes?.[0] ||\n  'Consulta';\n\nconst msg = `✅ Tu cita de ${servicio} ha sido cancelada correctamente, ${nombre}.\n\nSi deseas reservar una nueva cita más adelante, estaremos encantados de ayudarte.`;\n\nreturn [{\n  json: {\n    ...input,\n\n    message: msg,\n    respuestaIA: msg,\n\n    categoriaIA: 'CITA_CANCELADA',\n    tipoEvento: 'CITA_CANCELADA',\n\n    citaConfirmada: false,\n    citaLista: false,\n\n    context: {\n      ...(input.context || {}),\n      stage: 'cancelado',\n      metadata: {\n        ...(meta || {}),\n        citaConfirmada: false,\n        citaCancelada: true,\n        cancelacionPendiente: false,\n        slotPropuesto: null,\n        calendarEventId: null,\n        esReprogramacion: false,\n        calendarEventIdAnterior\n      }\n    },\n\n    crmEvento: {\n      event_id: `EVT-${Date.now()}`,\n\n      patient_id:\n        input.patientId ||\n        input.context?.patientId ||\n        '',\n\n      paciente_nombre: nombre,\n\n      tipo_evento: 'CITA_CANCELADA',\n\n      prioridad: 'MEDIA',\n\n      etapa_actual: 'cancelado',\n\n      mensaje_paciente:\n        input._webhookData?.message ||\n        input.context?.history\n          ?.filter(h => h.role === 'user')\n          .slice(-1)[0]?.content ||\n        '',\n\n      respuesta_bot: msg,\n\n      servicio,\n\n      cita_fecha: '',\n\n      calendar_event_id: calendarEventIdAnterior,\n\n      requiere_atencion: 'false',\n\n      operador_asignado: '',\n\n      resuelto: 'FALSE',\n\n      notas_staff: '',\n\n      timestamp: new Date().toISOString()\n    },\n\n    slackPayload: {\n      text: `[CANCELADA] CITA CANCELADA\\nPaciente: ${nombre}\\nTratamiento: ${servicio}`,\n\n      blocks: [\n        {\n          type: 'section',\n          text: {\n            type: 'mrkdwn',\n            text: `*[CANCELADA]* CITA CANCELADA\\nPaciente: ${nombre}\\nTratamiento: ${servicio}`\n          }\n        }\n      ]\n    },\n\n    enviarSlack: true,\n    enviarEmail: true,\n\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        1568
      ],
      "id": "fc2bf338-2a12-4cf7-b85d-b8d6eb8b8124",
      "name": "Confirmar Cancelación"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ String($json.channel || '').toLowerCase() }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "597754f7-bbd4-4c5a-9c09-673b0607f215"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "96e42c59-e86d-4777-90b7-49d33ff4508a",
                    "leftValue": "={{ String($json.channel || '').toLowerCase() }}",
                    "rightValue": "instagram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "99d4b0d9-1cd9-4a72-899a-1fc159b53ea1",
                    "leftValue": "={{ String($json.channel || '').toLowerCase() }}",
                    "rightValue": "facebook",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6882db80-e1d5-4f4d-a88a-6bf9fa190c4f",
                    "leftValue": "={{ String($json.channel || '').toLowerCase() }}",
                    "rightValue": "test",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        1088
      ],
      "id": "ad5b359f-c50c-4ce4-bdb1-4831d9bbb74b",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst conversationId = input.conversationId;\nconst msg = String(input.message || '').toLowerCase();\nconst channel = String(input.channel || '');\n\nconst staticData = $getWorkflowStaticData('global');\nconst cacheKey = `ctx_v4:${conversationId}`;\nconst tieneCache = !!staticData[cacheKey];\n\nconst pideCambioOCancelacion =\n  msg.includes('cambiar') ||\n  msg.includes('modificar') ||\n  msg.includes('reprogramar') ||\n  msg.includes('mover') ||\n  msg.includes('otro horario') ||\n  msg.includes('no puedo') ||\n  msg.includes('cancelar') ||\n  msg.includes('anular') ||\n  msg.includes('cancelacion') ||\n  msg.includes('cancelación');\n\nconst usarSheets = !tieneCache || pideCambioOCancelacion;\n\nreturn [{\n  json: {\n    ...input,\n    usarSheets: usarSheets ? 'SI' : 'NO',\n    debugTieneCache: tieneCache,\n    debugCacheKey: cacheKey\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2416,
        320
      ],
      "id": "0f115ef8-f337-4c2d-886b-9f71ece313d5",
      "name": "Control Lecturas Sheets"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "bf9d0257-09af-44f6-8b11-47dcecfb1e17",
              "leftValue": "={{ $json.usarSheets }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2144,
        320
      ],
      "id": "7e5343d9-3017-4e43-b50b-eee95cc9e029",
      "name": "Usar Sheets?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "56869b1e-3a21-44e0-92c4-0e60c7657885",
              "leftValue": "={{ Object.keys($json).length > 0 && !$json._fallback ? 'SI' : 'NO' }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1712,
        48
      ],
      "id": "4960eaca-26f0-41bd-b4b4-fc964adbeca6",
      "name": "Paciente Encontrado?"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst conversationId = input.conversationId;\nconst channel = input.channel;\nconst from = input.from;\nconst userName = input.userName;\n\nconst staticData = $getWorkflowStaticData('global');\nconst cacheKey = `ctx_v4:${conversationId}`;\n\nlet context = staticData[cacheKey];\n\nif (!context) {\n  const patientId = `PAC-${Date.now()}-${Math.random().toString(36).slice(2, 8).toUpperCase()}`;\n\n  context = {\n    conversationId,\n    patientId,\n    channel,\n    from,\n    userName,\n    stage: 'inicio',\n    messageCount: 0,\n    history: [],\n    metadata: {\n      tratamientos_interes: [],\n      edad: null,\n      condiciones: [],\n      nombre: null,\n      telefono: null,\n      aptitudVerificada: false,\n      slotPropuesto: null,\n      slotsDisponiblesFiltrados: []\n    },\n    lastActivity: new Date().toISOString()\n  };\n}\n\nreturn [{\n  json: {\n    ...input,\n    conversationId,\n    channel,\n    from,\n    userName,\n    context,\n    intervencionActiva: false,\n    activa: 'FALSE',\n    _sinSheets: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        560
      ],
      "id": "7fd7d0f1-9b1a-4701-bf24-398df67f68cb",
      "name": "Contexto Temporal Sin Sheets"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst conversationId = input.conversationId;\n\nconst staticData = $getWorkflowStaticData('global');\nconst cacheKey = `ctx_v4:${conversationId}`;\n\n// SIEMPRE guardar el contexto si existe\nif (conversationId && input.context) {\n  staticData[cacheKey] = input.context;\n  console.log('✅ Contexto guardado para:', cacheKey, 'Stage:', input.context.stage);\n} else {\n  console.log('❌ No se pudo guardar el contexto');\n}\n\nreturn [{\n  json: {\n    ...input,\n    cacheGuardado: true,\n    cacheKey,\n    cacheStage: input.context?.stage || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1136
      ],
      "id": "28785e48-f561-4c94-9feb-388870d1b648",
      "name": "Guardar Contexto Cache"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a527516-f2b9-42f7-8dd4-62adc1d914fd",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "ignorar",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3616,
        336
      ],
      "id": "b064ce86-378a-497e-ae58-cd23c82a2f89",
      "name": "Filtrar Echo Bot"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2512,
        144
      ],
      "id": "0776835e-c3a7-456a-b26a-cc5e42935395",
      "name": "Fin Rate Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1520,
        1120
      ],
      "id": "d96cfe88-8b13-49ac-a6b1-59133cb55e6d",
      "name": "Fin Flujo"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dca76fce-48e4-489a-b0fc-69e7ea09bcd4",
              "leftValue": "={{ $json.tipoEvento || $json.tipo_evento || $json.crmEvento?.tipo_evento || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2032,
        2144
      ],
      "id": "cc138445-0f2f-43da-9f60-8c85fb447f94",
      "name": "IF Guardar/Actualizar Metrics?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "sl1",
              "leftValue": "={{ $json.enviarGHL === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99e8b0c3-5580-4856-896d-1d635bd434a0",
      "name": "Enviar GHL if",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3152,
        2512
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst ctx = input.context || {};\nconst meta = ctx.metadata || {};\nconst crm = input.crmEvento || {};\n\nconst nombreCompleto =\n  meta.nombre ||\n  input.nombrePaciente ||\n  crm.paciente_nombre ||\n  input.userName ||\n  'Paciente';\n\nconst partes = String(nombreCompleto).trim().split(/\\s+/);\nconst firstName = partes[0] || 'Paciente';\nconst lastName = partes.slice(1).join(' ') || '';\n\nlet phone =\n  meta.telefono ||\n  input.context?.metadata?.telefono ||\n  input.telefonoPaciente ||\n  crm.paciente_telefono ||\n  input.from ||\n  '';\n\nphone = String(phone || '').replace(/\\D/g, '');\n\nif (phone && !phone.startsWith('34') && phone.length === 9) {\n  phone = '34' + phone;\n}\n\nlet email =\n  meta.email ||\n  input.email ||\n  crm.paciente_email ||\n  '';\n\n// Si es canal test y no hay datos, usar valores ficticios\nif (input.channel === 'test') {\n  const unique = String(Date.now()).slice(-9);\n\n  phone = `6${unique.slice(1)}`;\n\n  email = `test_${String(input.conversationId || Date.now()).replace(/[^a-zA-Z0-9]/g, '_')}_${Date.now()}@example.com`;\n}\n\nconst tipoEvento =\n  input.tipoEvento ||\n  crm.tipo_evento ||\n  (input.citaConfirmada ? 'CITA_CONFIRMADA' : input.escalarHumano ? 'ESCALADO' : 'LEAD');\n\nif (!phone && !email && tipoEvento !== 'ESCALADO') {\n  return [{\n    json: {\n      ...input,\n      enviarGHL: false\n    }\n  }];\n}\n\nconst servicio =\n  input.servicioFinal ||\n  crm.servicio ||\n  meta.tratamientoConfirmado ||\n  meta.tratamientos_interes?.[0] ||\n  'Consulta';\n\nlet stageId = $env.GHL_STAGE_NUEVO_LEAD;\n\nif (tipoEvento === 'CITA_CONFIRMADA') stageId = $env.GHL_STAGE_CITA_CONFIRMADA;\nif (tipoEvento === 'ESCALADO') stageId = $env.GHL_STAGE_ESCALADO;\nif (tipoEvento === 'CITA_CANCELADA') stageId = $env.GHL_STAGE_CANCELADO;\n\nconst tags = [\n  'ai-agent',\n  `canal-${input.channel || 'unknown'}`,\n  tipoEvento.toLowerCase()\n];\n\nif (input.escalarHumano) tags.push('requiere-humano');\nif (input.citaConfirmada) tags.push('cita-confirmada');\n\nconst note = [\n  `Evento: ${tipoEvento}`,\n  `Canal: ${input.channel || ''}`,\n  `Conversación: ${input.conversationId || ''}`,\n  `Servicio: ${servicio}`,\n  `Fecha cita: ${input.slotInicio || crm.cita_fecha || ''}`,\n  `Calendar ID: ${input.calendarEventId || crm.calendar_event_id || ''}`,\n  ``,\n  `Último mensaje paciente: ${input._webhookData?.message || crm.mensaje_paciente || ''}`,\n  ``,\n  `Respuesta bot: ${input.message || crm.respuesta_bot || ''}`\n].join('\\n');\n\nfunction emailValido(email) {\n  return /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(String(email || '').trim());\n}\n\nconst contactPayload = {\n  locationId: $env.GHL_LOCATION_ID,\n  firstName: firstName || '',\n  lastName: lastName || '',\n  name: nombreCompleto || '',\n  phone: phone || '',\n  tags: tags,\n  source: `AI ${input.channel || 'omnichannel'}`\n};\n\nif (emailValido(email)) {\n  contactPayload.email = String(email).trim().toLowerCase();\n}\n\nreturn [{\n  json: {\n    ...input,\n    debugEnv: {\n  pipeline: $env.GHL_PIPELINE_ID,\n  stageNuevo: $env.GHL_STAGE_NUEVO_LEAD,\n  stageEscalado: $env.GHL_STAGE_ESCALADO,\n  stageCita: $env.GHL_STAGE_CITA_CONFIRMADA,\n  stageCancelado: $env.GHL_STAGE_CANCELADO\n},\n    ghl: {\n      contactPayload,\n      opportunityPayload: {\n        locationId: $env.GHL_LOCATION_ID,\n        pipelineId: $env.GHL_PIPELINE_ID,\n        pipelineStageId: stageId,\n        name: `${servicio} - ${nombreCompleto}`,\n        monetaryValue: 0,\n        status: tipoEvento === 'CITA_CANCELADA' ? 'lost' : 'open'\n      },\n      notePayload: {\n        body: note\n      },\n      tipoEvento\n    },\n    enviarGHL: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2880,
        2400
      ],
      "id": "311489c7-dc9c-47c3-bfb4-f03502a4df2c",
      "name": "Preparar Payload GHL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GHL_ACCESS_TOKEN}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ghl.contactPayload }}",
        "options": {}
      },
      "id": "c415cea1-5341-447f-9c16-b2a3caeca81e",
      "name": "GHL Upsert Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2560,
        2352
      ]
    },
    {
      "parameters": {
        "jsCode": "const actual = $input.first().json;\nconst raw = actual._webhookData?.raw || {};\n\n// Base principal del flujo\nlet base = {};\ntry {\n  base = $('Preparar Respuesta Final').first().json;\n} catch (e) {\n  try {\n    base = $('Guardar Contexto Cache').first().json;\n  } catch (e2) {\n    base = actual;\n  }\n}\n\n// Si viene payload manual/webhook, debe poder mandar sobre base\nconst input = {\n  ...base,\n  ...actual,\n  _webhookData: {\n    ...(base._webhookData || {}),\n    ...(actual._webhookData || {}),\n    raw\n  },\n  emailResponse: actual.id || actual.threadId ? actual : actual.emailResponse,\n  metricsResponse: actual.metricsResponse || null,\n  _ultimoNodoAntesGHL: actual\n};\n\nlet meta = input.context?.metadata || {};\nif (typeof meta === 'string') {\n  try {\n    meta = JSON.parse(meta);\n  } catch (e) {\n    meta = {};\n  }\n}\n\nlet tipoEvento =\n  input.tipoEvento ||\n  input.tipo_evento ||\n  input.crmEvento?.tipo_evento ||\n  input.alertaCRM?.tipo ||\n  raw.tipo_evento ||\n  '';\n\nif (!tipoEvento) {\n  if (input.accionMotor === 'ESCALAR' || input.escalarHumano === true) {\n    tipoEvento = 'ESCALADO';\n  } else if (\n    input.citaConfirmada === true ||\n    input.context?.metadata?.citaConfirmada === true ||\n    input.calendarEventId\n  ) {\n    tipoEvento = 'CITA_CONFIRMADA';\n  } else if (input.categoriaIA === 'SLOT_OCUPADO') {\n    tipoEvento = 'SLOT_OCUPADO';\n  } else if (input.accionMotor === 'CANCELAR_CITA') {\n    tipoEvento = 'CITA_CANCELADA';\n  } else if (input.accionMotor === 'AGENDAR') {\n    tipoEvento = 'INTENTO_AGENDAR';\n  }\n}\n\nconst servicio =\n  input.servicioFinal ||\n  input.servicio ||\n  input.crmEvento?.servicio ||\n  raw.servicio ||\n  meta.tratamientoConfirmado ||\n  meta.tratamientos_interes?.[0] ||\n  'Consulta';\n\nconst nombre =\n  input.nombrePaciente ||\n  input.crmEvento?.paciente_nombre ||\n  raw.nombre ||\n  meta.nombre ||\n  input.userName ||\n  'Paciente';\n\nconst telefono =\n  input.telefonoPaciente ||\n  input.crmEvento?.paciente_telefono ||\n  raw.telefono ||\n  meta.telefono ||\n  input.from ||\n  '';\n\nconst motivo =\n  input.motivoEscalado ||\n  input.crmEvento?.notas_staff ||\n  meta.motivoEscalado ||\n  null;\n\nconst enviarGHL = [\n  'ESCALADO',\n  'CITA_CONFIRMADA',\n  'CITA_CANCELADA',\n  'SLOT_OCUPADO',\n  'INTENTO_AGENDAR'\n].includes(tipoEvento);\n\nreturn [{\n  json: {\n    ...input,\n\n    tipoEvento,\n    enviarGHL,\n\n    crmEvento: {\n      ...(input.crmEvento || {}),\n\n      tipo_evento: tipoEvento,\n      conversation_id: raw.conversation_id || input.conversationId,\n      patient_id: input.patientId || input.context?.patientId || '',\n\n      canal: input.channel,\n      paciente_nombre: nombre,\n      paciente_telefono: telefono,\n\n      servicio,\n      cita_fecha: input.slotInicio || input.crmEvento?.cita_fecha || '',\n      calendar_event_id: input.calendarEventId || input.crmEvento?.calendar_event_id || '',\n\n      requiere_atencion: tipoEvento === 'ESCALADO' ? 'true' : 'false',\n      prioridad: tipoEvento === 'ESCALADO' ? 'ALTA' : 'MEDIA',\n      etapa_actual: input.context?.stage || input.nuevaEtapa || '',\n\n      mensaje_paciente: input._webhookData?.message || input.crmEvento?.mensaje_paciente || '',\n      respuesta_bot: input.message || input.respuestaIA || input.crmEvento?.respuesta_bot || '',\n\n      notas_staff: motivo || '',\n      timestamp: new Date().toISOString()\n    }\n  }\n}];"
      },
      "id": "a0214c72-8671-4be3-b472-32402e906fff",
      "name": "Preparar Alerta GHL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        2512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1dc1ab8-d9bb-4694-bf1a-17998050fdda",
              "leftValue": "={{ \n  $json.tipoEvento === 'CITA_CONFIRMADA' ||\n  $json.tipoEvento === 'CITA_CANCELADA' ||\n  $json.tipoEvento === 'ESCALADO' ||\n  $json.accionMotor === 'CANCELAR_CITA' ||\n  $json.accionMotor === 'ESCALAR'\n}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3696,
        2240
      ],
      "id": "24aa802f-8061-4cab-ba87-f540477a99c7",
      "name": "CRM Evento Existe?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5381d2c7-3235-437d-ad4e-3a58cde8bb00",
              "leftValue": "={{ $json.message?.toLowerCase().trim() }}",
              "rightValue": "reset",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        208
      ],
      "id": "0853cedb-2023-4d55-8834-b02e04492cf2",
      "name": "IF Reset"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Preparar Respuesta Final').first().json;\n\nreturn [{\n  json: {\n    ...original,\n    contextoGuardado: true,\n    pacienteGuardado: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        1136
      ],
      "id": "bfa02c71-d11c-4505-8aa2-2a40ab13a093",
      "name": "Recuperar Respuesta Canal"
    },
    {
      "parameters": {
        "jsCode": "const original = $('Preparar Email Staff').first().json;\n\nreturn [{\n  json: {\n    ...original,\n    emailEnviado: true,\n    emailResponse: $input.first().json\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2464,
        1984
      ],
      "id": "db0b3597-ec8e-43a7-a5fc-ace7c7427797",
      "name": "Recuperar Item Tras Email"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\n\nconst base = items.find(i =>\n  i.slotInicio ||\n  i.slotElegidoMotor ||\n  i.context?.metadata?.slotPropuesto\n) || {};\n\nconst slotInicio = base.slotInicio || base.slotElegidoMotor?.inicio || base.context?.metadata?.slotPropuesto?.inicio;\nconst slotFin = base.slotFin || base.slotElegidoMotor?.fin || base.context?.metadata?.slotPropuesto?.fin;\n\nconst si = new Date(slotInicio);\nconst sf = new Date(slotFin);\n\nconst eventos = items.filter(i => i.start && i.end);\n\nconst eventosQueChocan = eventos.filter(e => {\n  const ei = new Date(e.start.dateTime || e.start.date);\n  const ef = new Date(e.end.dateTime || e.end.date);\n\n  return si < ef && sf > ei;\n});\n\nreturn [{\n  json: {\n    ...base,\n    slotOcupado: eventosQueChocan.length > 0,\n    eventosCalendarOcupados: eventos.length,\n    eventosQueChocan\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        944
      ],
      "id": "99bb10e0-fe93-459c-9fa7-b3df95792171",
      "name": "Comprobar Choque Slot"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1584,
        1872
      ],
      "id": "fe7266d6-ede4-4896-96f3-5bcbdfa1effa",
      "name": "Merge Metrics"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst contactId =\n  input.contact?.id ||\n  input.id ||\n  input.contactId ||\n  '';\n\nconst originalOpportunity = input.ghl?.opportunityPayload || {};\nconst originalNote = input.ghl?.notePayload || {};\n\nreturn [{\n  json: {\n    ...input,\n\n    ghlContactId: contactId,\n\n    ghlOpportunityPayload: {\n      ...originalOpportunity,\n      locationId: originalOpportunity.locationId || $env.GHL_LOCATION_ID,\n      pipelineId: originalOpportunity.pipelineId || $env.GHL_PIPELINE_ID,\n      pipelineStageId: originalOpportunity.pipelineStageId || $env.GHL_STAGE_ESCALADO,\n      contactId,\n      name: originalOpportunity.name || `Consulta - ${input.contact?.firstName || ''}`.trim(),\n      monetaryValue: originalOpportunity.monetaryValue || 0,\n      status: originalOpportunity.status || 'open'\n    },\n\n    ghlNotePayload: {\n      ...originalNote\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        2528
      ],
      "id": "e7cb0110-7803-43c4-8ca8-81526b9c0c5c",
      "name": "Preparar Opportunity GHL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/opportunities/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GHL_ACCESS_TOKEN}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"{{$json.ghlOpportunityPayload.locationId}}\",\n  \"pipelineId\": \"{{$json.ghlOpportunityPayload.pipelineId}}\",\n  \"pipelineStageId\": \"{{$json.ghlOpportunityPayload.pipelineStageId}}\",\n  \"contactId\": \"{{$json.ghlOpportunityPayload.contactId}}\",\n  \"name\": \"{{$json.ghlOpportunityPayload.name}}\",\n  \"monetaryValue\": {{$json.ghlOpportunityPayload.monetaryValue}},\n  \"status\": \"{{$json.ghlOpportunityPayload.status}}\"\n}",
        "options": {}
      },
      "id": "91de1bd9-1d46-46b6-b7eb-21173f0b368e",
      "name": "GHL Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1968,
        2368
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2384,
        2528
      ],
      "id": "51bba605-eda4-45de-bd99-6ee0c5e473de",
      "name": "Merge GHL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://services.leadconnectorhq.com/contacts/{{$json.ghlContactId}}/notes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GHL_ACCESS_TOKEN}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {{$json.ghlNotePayload.body.toJsonString()}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1504,
        2432
      ],
      "id": "ff96e78a-25a3-4aaf-9a90-691b70fa65a5",
      "name": "GHL Add Note"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1696,
        2432
      ],
      "id": "b9a0a5a4-e8e4-45f8-94de-d4c71589b45b",
      "name": "Merge GHL Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "3310487a-a903-4fd0-bd7b-7e23b348afa8",
      "name": "Fin Silenciado Human Takeover"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2384,
        2720
      ],
      "id": "682a1256-c7b3-4bd0-9e76-163b70c421bf",
      "name": "Merge Final Contexto"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "557ea462-9cd5-40d8-b072-6ff880854313",
              "leftValue": "={{ $json.conversation_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        176
      ],
      "id": "844c12d6-c208-4774-b951-d7c7454028d3",
      "name": "IF encontró contexto?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8d138bc2-7b7b-41a8-bfbf-36e8d5e70f27",
              "leftValue": "={{ $json.noEnviarRespuesta !== true && !!$json.message }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        1136
      ],
      "id": "554ea0c4-7f55-4ca0-a07a-a1853e22f022",
      "name": "IF Enviar Respuesta"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        1344
      ],
      "id": "6aa6ef22-6cf1-4649-9d39-2a17135ac1d9",
      "name": "NoEnviarRespuesta"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -800,
        2560
      ],
      "id": "a1671587-6a65-4f65-b503-f73bfac35d7d",
      "name": "Fin CRM"
    },
    {
      "parameters": {
        "content": "# 🔵 ENTRADA Y NORMALIZACIÓN\n\n📥 **Webhook Unificado** → Recibe mensajes de WhatsApp, Instagram, Facebook y Test\n🔍 **Parsear Webhook** → Normaliza todos los formatos a un estándar único\n⏱️ **Rate Limiter** → Máximo 8 mensajes por minuto por conversación\n📊 **Control Lecturas Sheets** → Decide si usar Sheets o caché en memoria\n📞 **Extraer Teléfono** → Detecta y normaliza números españoles (34XXXXXXXXX)\n\n# 🟢 IDENTIDAD Y CONTEXTO\n\n🆔 **Resolver Identidad Cross-Canal** → Genera patient_id y conversation_id únicos\n🔄 **IF Reset** → Detecta comando \"reset\" y limpia todo el contexto\n🎛️ **Intervencion Activa IF** → Silencia el bot si humano tomó control (30 min)\n📚 **Contexto Temporal Sin Sheets** → Fallback cuando no hay conexión a Sheets",
        "height": 832,
        "width": 6128,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4432,
        -96
      ],
      "typeVersion": 1,
      "id": "55ff6e06-f259-4db5-a03c-59f03084c59b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 🧠 CLASIFICACIÓN POR IA\n\n📅 **Consultar Disponibilidad Calendar** → Lee slots libres (próximos 7 días)\n🧮 **Calcular Huecos Libres** → Filtra horarios ocupados y genera lista\n🤖 **Gemini IA - Cerebro Central** → Clasifica intención del usuario:\n   • AGENDAR | CONSULTA | CANCELAR_CITA | CAMBIAR_CITA\n   • ESCALAR_HUMANO | CONFIRMACION_CITA | OTRO\n⚙️ **Procesar IA** → Extrae y valida la respuesta de Gemini\n📊 **Lead scoring** → Calcula score (70-100=HOT, 40-69=WARM, etc.)\n\n# ⚙️ MÁQUINA DE ESTADOS\n\n🔄 **Motor Estado Multi-turno** → Gestiona toda la conversación:\n   • inicio → triaje → recopilando_nombre → recopilando_telefono\n   • mostrando_slots → confirmando_cita → agendado → escalar\n🚦 **Router Accion Motor** → Enruta según acción:\n   • AGENDAR → Crear cita en Calendar\n   • ESCALAR → Derivar a atención humana\n   • RESPONDER → Respuesta directa\n   • CANCELAR_CITA → Cancelar cita existente",
        "height": 960,
        "width": 3568,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4432,
        768
      ],
      "typeVersion": 1,
      "id": "4d32a7e7-a0dc-4ce9-b853-4f83cb727c3d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 📝 PREPARACIÓN DE RESPUESTA\n\n📦 **Preparar Respuesta Final** → Unifica mensaje y contexto final\n💾 **Guardar Contexto Cache** → Persiste estado en memoria (n8n vars)\n✅ **IF Enviar Respuesta** → Verifica que no sea confirmación duplicada\n\n# 📱 ENVÍO POR CANAL\n\n🔄 **Switch de Canales** → Redirige según origen:\n\n📱 **WhatsApp** → API Meta (formato compatible)\n   • Preparar Mensaje WhatsApp\n   • Enviar WhatsApp\n\n📸 **Instagram** → API Meta con Page Access Token\n   • Preparar Mensaje Instagram\n   • Enviar Instagram DM\n\n💬 **Facebook** → Messenger Platform API\n   • Preparar Mensaje Facebook\n   • Enviar Facebook Messenger\n\n🧪 **Test** → Solo logs, no envía mensajes reales",
        "height": 960,
        "width": 2512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        768
      ],
      "typeVersion": 1,
      "id": "2143e2ae-2a81-441b-b928-da84ca1f22f2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 💾 GOOGLE SHEETS (Persistencia)\n\n📋 **Contexto** → Estado de cada conversación (stage, history, metadata)\n👥 **Pacientes** → Índice cross-canal (único por teléfono normalizado)\n📥 **CRM_Inbox** → Bandeja de eventos (citas, escalados, mensajes)\n🎛️ **Intervenciones** → Control manual (activa=TRUE silencia el bot)\n📊 **Metrics** → KPIs del sistema (leads, conversión, escalados)\n\n# 📧 NOTIFICACIONES AL STAFF\n\n📧 **Email** → Enviado a STAFF_EMAIL para:\n   • Citas confirmadas (CITA_CONFIRMADA)\n   • Casos escalados (ESCALADO)\n   • Cancelaciones (CITA_CANCELADA)\n💬 **Slack/Webhook** → Opcional para alertas instantáneas\n\n# 🏢 GHL / LEADCONNECTOR\n\n🔄 **GHL Integration** → Sincroniza contactos, oportunidades y notas\n   • GHL Upsert Contact\n   • GHL Create Opportunity\n   • GHL Add Note",
        "height": 1152,
        "width": 3872,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4432,
        1776
      ],
      "typeVersion": 1,
      "id": "38008e0c-19b1-4bfe-8be6-216de6596bb4",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Webhook Unificado": {
      "main": [
        [
          {
            "node": "Parsear Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Webhook": {
      "main": [
        [
          {
            "node": "Filtrar Echo Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad Calendar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Calcular Huecos Libres": {
      "main": [
        [
          {
            "node": "Gemini IA - Cerebro Central",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gemini IA - Cerebro Central": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar IA": {
      "main": [
        [
          {
            "node": "Lead scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar y Preparar Cita": {
      "main": [
        [
          {
            "node": "Verificar Slot Libre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Evento Calendar": {
      "main": [
        [
          {
            "node": "Confirmar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Cita": {
      "main": [
        [
          {
            "node": "Preparar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar a Humano": {
      "main": [
        [
          {
            "node": "Preparar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta IA Directa": {
      "main": [
        [
          {
            "node": "Preparar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Respuesta Final": {
      "main": [
        [
          {
            "node": "Guardar Contexto Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje WhatsApp": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Fin Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Instagram": {
      "main": [
        [
          {
            "node": "Enviar Instagram DM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Instagram DM": {
      "main": [
        [
          {
            "node": "Fin Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje Facebook": {
      "main": [
        [
          {
            "node": "Enviar Facebook Messenger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Facebook Messenger": {
      "main": [
        [
          {
            "node": "Fin Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Canal Test (Solo Log)": {
      "main": [
        [
          {
            "node": "Fin Flujo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Motor Estado Multi-turno": {
      "main": [
        [
          {
            "node": "Router Accion Motor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Accion Motor": {
      "main": [
        [
          {
            "node": "Detectar y Preparar Cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Escalar a Humano",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta IA Directa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cancelar Evento Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Telefono Busqueda": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Paciente?": {
      "main": [
        [
          {
            "node": "Guardar Paciente (Hoja Pacientes)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fin CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Paciente (Hoja Pacientes)": {
      "main": [
        [
          {
            "node": "Fin CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intervencion Activa IF": {
      "main": [
        [
          {
            "node": "Fin Silenciado Human Takeover",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar en CRM Inbox": {
      "main": [
        [
          {
            "node": "Guardar en CRM Inbox",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en CRM Inbox": {
      "main": [
        [
          {
            "node": "Preparar Email Staff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email Staff": {
      "main": [
        [
          {
            "node": "Enviar Email IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Email IF": {
      "main": [
        [
          {
            "node": "Enviar Email Staff Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Notificaciones",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Enviar Email Staff Gmail": {
      "main": [
        [
          {
            "node": "Recuperar Item Tras Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Notificaciones": {
      "main": [
        [
          {
            "node": "IF Guardar/Actualizar Metrics?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead scoring": {
      "main": [
        [
          {
            "node": "Motor Estado Multi-turno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Metrics": {
      "main": [
        [
          {
            "node": "Merge Metrics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Actualizar Metrics": {
      "main": [
        [
          {
            "node": "Guardar Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Metrics": {
      "main": [
        [
          {
            "node": "Preparar Alerta GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Paciente Nuevo": {
      "main": [
        [
          {
            "node": "Merge Buscar Paciente",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Buscar Paciente": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Sin Intervencion": {
      "main": [
        [
          {
            "node": "Merge Check Intervencion",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Check Intervencion": {
      "main": [
        [
          {
            "node": "Intervencion Activa IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Contexto Nuevo": {
      "main": [
        [
          {
            "node": "Resolver Identidad Cross-Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver Identidad Cross-Canal": {
      "main": [
        [
          {
            "node": "Check Intervencion Activa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback Sin Intervencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente (Hoja Pacientes)": {
      "main": [
        [
          {
            "node": "Paciente Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limited?": {
      "main": [
        [
          {
            "node": "Fin Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Control Lecturas Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "IF encontró contexto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Intervencion Activa": {
      "main": [
        [
          {
            "node": "Merge Check Intervencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Calendar Vacío": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Calcular Huecos Libres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Procesar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Slot Libre": {
      "main": [
        [
          {
            "node": "Comprobar Choque Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot ocupado": {
      "main": [
        [
          {
            "node": "Preparar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Contexto Sheets": {
      "main": [
        [
          {
            "node": "Actualizar Paciente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Evento Calendar": {
      "main": [
        [
          {
            "node": "Confirmar Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Slot Libre?": {
      "main": [
        [
          {
            "node": "Recuperar Datos Reprogramación",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slot ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Datos Reprogramación": {
      "main": [
        [
          {
            "node": "IF Reprogramación?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Reprogramación?": {
      "main": [
        [
          {
            "node": "Actualizar Evento Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Crear Evento Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Evento Calendar": {
      "main": [
        [
          {
            "node": "Confirmar Cancelación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Cancelación": {
      "main": [
        [
          {
            "node": "Preparar Respuesta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Preparar Mensaje WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensaje Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Mensaje Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Canal Test (Solo Log)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Control Lecturas Sheets": {
      "main": [
        [
          {
            "node": "Usar Sheets?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usar Sheets?": {
      "main": [
        [
          {
            "node": "Buscar Paciente (Hoja Pacientes)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contexto Temporal Sin Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paciente Encontrado?": {
      "main": [
        [
          {
            "node": "Merge Buscar Paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Paciente Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contexto Temporal Sin Sheets": {
      "main": [
        [
          {
            "node": "Intervencion Activa IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Contexto Cache": {
      "main": [
        [
          {
            "node": "CRM Evento Existe?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Recuperar Respuesta Canal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Echo Bot": {
      "main": [
        [
          {
            "node": "Extraer Telefono Busqueda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Guardar/Actualizar Metrics?": {
      "main": [
        [
          {
            "node": "Leer Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Alerta GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar GHL if": {
      "main": [
        [
          {
            "node": "Preparar Payload GHL",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Final Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Final Contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Payload GHL": {
      "main": [
        [
          {
            "node": "GHL Upsert Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge GHL",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GHL Upsert Contact": {
      "main": [
        [
          {
            "node": "Merge GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Alerta GHL": {
      "main": [
        [
          {
            "node": "Enviar GHL if",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Evento Existe?": {
      "main": [
        [
          {
            "node": "Registrar en CRM Inbox",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Alerta GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Reset": {
      "main": [
        [
          {
            "node": "Motor Estado Multi-turno",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultar Disponibilidad Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fallback Calendar Vacío",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Respuesta Canal": {
      "main": [
        [
          {
            "node": "IF Enviar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar Item Tras Email": {
      "main": [
        [
          {
            "node": "Merge Notificaciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comprobar Choque Slot": {
      "main": [
        [
          {
            "node": "IF Slot Libre?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Metrics": {
      "main": [
        [
          {
            "node": "Actualizar Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Opportunity GHL": {
      "main": [
        [
          {
            "node": "GHL Create Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge GHL Note",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GHL Create Opportunity": {
      "main": [
        [
          {
            "node": "Merge GHL Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge GHL": {
      "main": [
        [
          {
            "node": "Preparar Opportunity GHL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHL Add Note": {
      "main": [
        [
          {
            "node": "Actualizar Paciente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge GHL Note": {
      "main": [
        [
          {
            "node": "GHL Add Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Contexto": {
      "main": [
        [
          {
            "node": "Guardar Contexto Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF encontró contexto?": {
      "main": [
        [
          {
            "node": "Resolver Identidad Cross-Canal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Contexto Nuevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Enviar Respuesta": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoEnviarRespuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}